<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기타정보 - 어미새</title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/boards/resources/stylesheets/rt.css}" rel="stylesheet">
    <script defer th:src="@{/boards/resources/scripts/rt.js}"></script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main id="main">
    <div class="nav-container">
        <div class="nav-menu">
            <ul class="list">
                <li class="link">
                    <a th:href="@{/fs}">인기정보</a>
                </li>
                <li class="link">
                    <a th:href="@{/os}">패션정보</a>
                </li>
                <li class="link">
                    <a th:href="@{/rt}">기타정보</a>
                </li>
                <li class="link">
                    <a th:href="@{/dr}">래플정보</a>
                </li>
                <li class="link">
                    <a th:href="@{/ec}">이벤트정보</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <section class="main-section">
            <div class="empty-container">
                <span></span>
            </div>
            <div class="title-container">
                <div class="title-section">
                    <h3 class="title">
                        <a th:href="@{/}">
                            기타정보
                        </a>
                    </h3>
                    <h5 class="sub-title">
                        패션 외 기타 판매 제품 정보를 공유하는 공간입니다. [세일 정보 게시판 규정]<br>
                        일정 수 이상의 샀어요를 받은 정보글은 인기정보 게시판으로 이동됩니다.
                    </h5>
                </div>
            </div>
            <div class="menu-container">
                <div class="menu-section">
                    <div class="left">
                        <div class="category">
                            <a class="link">
                                분류
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="category-list">
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        전체
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        해외
                                        <span>(4500)</span>
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        국내
                                        <span>(9608)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="align">
                            <a class="link">
                                정렬
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="align-list">
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        최신순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        조회순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        추천순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        댓글순
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="function">
                            <a class="link" th:href="@{/}">
                                쓰기
                            </a>
                            <a class="link search">
                                검색
                            </a>
                            <a class="link" th:href="@{/}">
                                목록
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <form class="search-form" method="get">
                    <select class="criteria" name="criteria">
                        <option value="title-content">제목+내용</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="comment">댓글</option>
                        <option value="nickname">닉네임</option>
                        <option value="tag">태그</option>
                        <option value="link">링크</option>
                    </select>
                    <input class="keyword" type="text" name="keyword" placeholder="검색어를 입력하세요.">
                </form>
            </div>
            <div class="image-article-container">
                <div class="image-article-section">
                    <div class="image-articles">
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">
                                        <span>사용자</span>
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                        <div class="article">
                            <div class="image">
                                <a th:href="@{/}">
                                    <img class="tmb"
                                         src="//img.eomisae.co.kr/files/thumbnails/796/865/092/190x190.crop.jpg?20220815141036"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span>기타국내</span>
                                    <span>22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{/}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">사용자
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart"></i>
                                    17
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    14
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    1920
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-container">
                <span></span>
            </div>
            <div class="page-container">
                <div class="page-section">
                    <a th:href="@{/}">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                    <a th:href="@{/}">1</a>
                    <span>-</span>
                    <th:block th:href="@{/}">
                        <a th:href="@{/}">1</a>
                        <a th:href="@{/}">2</a>
                    </th:block>
                    <span>-</span>
                    <a th:href="@{/}">20</a>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="side-section">
            <div class="popular-container">
                <div class="popular-section">
                    <div class="board-title">
                        <h3>오늘의 인기글</h3>
                    </div>
                    <ul class="content">
                        <li class="list">
                            <span>1</span>
                            <a class="link" th:href="@{/}">
                                8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15
                                네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트
                            </a>
                            <span>
                                <a th:href="@{/}">78</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>2</span>
                            <a class="link" th:href="@{/}">
                                나이키 프리미엄 에션셜 반팔
                            </a>
                            <span>
                                <a th:href="@{/}">43</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>3</span>
                            <a class="link" th:href="@{/}">
                                독일 COS 부클레 가디건 베이지
                            </a>
                            <span>
                                <a th:href="@{/}">100</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>4</span>
                            <a class="link" th:href="@{/}">
                                유니클로U 유라리 셔츠 외
                            </a>
                            <span>
                                <a th:href="@{/}">58</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>5</span>
                            <a class="link" th:href="@{/}">
                                광동 선착순 2종 5,900원 무료배송
                            </a>
                            <span>
                                <a th:href="@{/}">188</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>6</span>
                            <a class="link" th:href="@{/}">
                                신타6 46000원대
                            </a>
                            <span>
                                <a th:href="@{/}">112</a>
                            </span>
                        </li>
                        <li class="list">
                            <span>7</span>
                            <a class="link" th:href="@{/}">
                                kith LVC X 클락스 왈라비 12만원
                            </a>
                            <span>
                                <a th:href="@{/}">104</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="side-empty-section">
                <div class="empty-container">
                    <span></span>
                </div>
            </div>
        </section>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>