<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.dmchoi.eomisae.mappers.IUserMapper">
    <insert id="insertUser"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.dmchoi.eomisae.entities.member.UserEntity">
        INSERT INTO `eomisae_member`.`users` (`email`, `password`, `user_id`, `nickname`,`created_at`, `find_password_index`, `find_password_answer`, `terms_agreed_at`, `mail_received_at`, `terms_agreed_flag`, `mail_received_flag`, `message_reception_index`, `email_verified_flag`, `profile_id`)
        VALUES (#{email}, #{password}, #{userId}, #{nickname}, #{createdAt},
                #{findPasswordIndex}, #{findPasswordAnswer}, #{termsAgreedAt}, #{mailReceivedAt}, #{isTermsAgreed}, #{isMailReceived}, #{messageReceptionIndex}, #{isEmailVerified}, #{profileId})
    </insert>

    <insert id="insertUserEmailVerificationCode"
            parameterType="dev.dmchoi.eomisae.entities.member.UserEmailVerificationCodeEntity">
        INSERT INTO `eomisae_member`.`user_email_verification_code`(`created_at`, `expires_at`, `expired_flag`,
                                                                    `code`, `salt`, `user_index`)
        VALUES (#{createdAt}, #{expiresAt}, #{isExpired}, #{code}, #{salt}, #{userIndex})
    </insert>

    <select id="selectUserCountByEmail"
            parameterType="dev.dmchoi.eomisae.entities.member.UserEntity"
            resultType="_int">
        SELECT COUNT(0)
        FROM `eomisae_member`.`users`
        WHERE `email` = #{email}
    </select>

    <select id="selectUserCountByNickname"
            parameterType="dev.dmchoi.eomisae.entities.member.UserEntity"
            resultType="_int">
        SELECT COUNT(0)
        FROM `eomisae_member`.`users`
        WHERE `nickname` = #{nickname}
    </select>

</mapper>