<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>어미새</title>
    <link th:href="@{/user/my-page/resources/stylesheets/memberPointHistoryList.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/myPageHeader.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<th:block th:replace="~{fragments/myPageHeader.html :: content}"></th:block>
<main class="main">
    <section class="mypage-table">
        <h1 class="title">포인트</h1>
        <table class="table-container">
            <div class="count-container">
                <div class="total-count">
                    <span>Total : </span>
                    <span>0,</span>
                </div>
                <div class="page">
                    <span>Page : </span>
                    <span>1/1</span>
                </div>
            </div>
            <thead>
            <tr>
                <th>날짜</th>
                <th>구분</th>
                <th>내용</th>
                <th>포인트</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2022-08-12 12:57</td>
                <td class="red">적립</td>
                <td>금일 첫 로그인</td>
                <td class="red">+10P</td>
            </tr>
            <tr>
                <td>2022-08-12 12:57</td>
                <td class="red">적립</td>
                <td>금일 첫 로그인</td>
                <td class="red">+10P</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="page-tr">
                <td colspan="5">
                    <a class="page-button prev-button" th:href="@{/}">« 첫 페이지</a>
                    <a class="page-button page selected" th:href="@{/}">1</a>
                    <a class="page-button next-button" th:href="@{/}">끝 페이지 »</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>