<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="dev.dmchoi.eomisae.entities.member.UserEntity"*/-->
<!--/*@thymesVar id="deleteUserVo" type="dev.dmchoi.eomisae.vos.member.user.DeleteUserVo"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>어미새</title>
    <link th:href="@{/user/my-page/resources/stylesheets/memberLeave.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/myPageHeader.js}"></script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
    <script defer th:src="@{/user/my-page/resources/scripts/memberLeave.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<th:block th:replace="~{fragments/myPageHeader.html :: content}"></th:block>
<main class="main" id="main">
    <section class="info-deleting-container">
        <h1 class="title">회원정보 삭제</h1>
        <div class="warning-container">
          <span>
            이 작업은 로그인한 SNS 계정을 삭제하는 것이 아니라, 사이트에서 그 동안 사용했던 회원정보를 삭제하는 작업입니다.
            <br>
            사이트에서 '나'에 대한 모든정보가 삭제되며, 삭제후에는 복구가 불가능합니다.
            <br><br>
            !또한 이전에 작성했던 글에 대한 수정및 삭제 권한도 삭제됩니다. 삭제후에는 다시 권한을 획득하지못하니, 주의바랍니다.
          </span>
        </div>
        <div class="hidden-warning" id="hiddenWarning">
            <div class="warning-container">
                <span class="warning" id="warning"></span>
            </div>
        </div>
        <form class="info-deleting-form" id="userDeletingForm" method="post">
            <div class="submit-container">
                <input class="input user-email-input" id="emailInput" name="email" type="email"
                       th:value="${user.getEmail()}" disabled>
            </div>
            <div class="row-container">
                <label class="submit-container row-container">
                    <input class="input user-password-input" id="passwordInput" placeholder="비밀번호 재입력" name="password"
                           type="password">
                </label>
                <label class="submit-container">
                    <input class="input delete-button-input" value="삭제" type="submit">
                </label>
            </div>
        </form>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>