<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="dev.dmchoi.eomisae.entities.member.UserEntity"*/-->
<!--/*@thymesVar id="profileImageEntity" type="dev.dmchoi.eomisae.entities.member.ProfileImageEntity"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>어미새</title>
    <link th:href="@{/user/my-page/resources/stylesheets/memberInfo.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/myPageHeader.js}"></script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('FAILURE_DUPLICATE_USER_ID')}">
        alert('해당 아이디는 이미 사용중입니다.');
        window.history.back();
    </script>
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('FAILURE_DUPLICATE_NICKNAME')}">
        alert('해당 닉네임은 이미 사용중입니다.');
        window.history.back();
    </script>
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('ILLEGAL_USER_ID')}">
        alert('아아디의 값은 영문,숫자,_만 가능하며 첫 글자는 영문이어야 합니다.');
        window.history.back();
    </script>
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('ILLEGAL_NICKNAME')}">
        alert('닉네임의 값이 한글(2-5), 영문 또는 숫자(4-10)에 맞지 않습니다.');
        window.history.back();
    </script>
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('FAILURE')}">
        alert('알 수 없는 이유로 회원가입에 실패하였습니다.\n\n잠시 후 다시 시도해 주세요.');
        window.history.back();
    </script>
    <script th:if="${modifyProfileVo != null && modifyProfileVo.getResult().name().equals('SUCCESS')}">
        alert('회원정보 수정이 완료되었습니다.');
        window.location.href = '/user/my-page/memberInfo';
    </script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<th:block th:replace="~{fragments/myPageHeader.html :: content}"></th:block>
<main class="main" id="main">
    <section class="user-info">
        <div class="info-container">
            <h1 class="title">회원 정보</h1>
            <dl class="info">
                <dt class="list"><span class="star">*</span>이메일 주소</dt>
                <dd class="personal-info"
                th:text="${user.getEmail()}">user01@sample.com</dd>
            </dl>
            <dl class="info">
                <dt class="list">아이디</dt>
                <dd class="personal-info"
                th:text="${user.getUserId()}">user01</dd>
            </dl>
            <dl class="info">
                <dt class="list"><span class="star">*</span>닉네임</dt>
                <dd class="personal-info"
                th:text="${user.getNickname()}">쪼곰아기새</dd>
            </dl>
            <dl class="info">
                <dt class="list">프로필 사진</dt>
                <dd class="personal-info profile-image">
                    <span class="no-profile-image" th:if="${user.getProfileId()
                     == null || user.getProfileId() == ''}">...</span>
                    <img th:if="${user.getProfileId() != null && user.getProfileId() != ''}"
                         th:src="@{'/user/profile-id?id=' + ${user.getProfileId()}}">
                </dd>
            </dl>
            <dl class="info">
                <dt class="list">포인트</dt>
                <dd class="personal-info"
                th:text="${user.getPoint() + 'p'}">30p</dd>
            </dl>
            <dl class="info">
                <dt class="list">레벨</dt>
                <dd class="personal-info"
                th:text="${'Lv.' + user.getLevel() + ' (' + (user.getPoint() * 100) / 3000 + '%) / ' + user.getPoint()}">Lv.1 (13%) / 17</dd>
            </dl>
            <dl class="info">
                <dt class="list">회원 그룹</dt>
                <dd class="personal-info">신입</dd>
            </dl>
            <dl class="info">
                <dt class="list">가입일</dt>
                <dd class="personal-info"
                th:text="${#dates.format(user.getCreatedAt(), 'yyyy-MM-dd')}">2022-08-01</dd>
            </dl>
            <dl class="info">
                <dt class="list">최근 로그인</dt>
                <dd class="personal-info">2022-08-01</dd>
            </dl>
        </div>
        <div class="button-container">
            <a class="button" th:href="@{/user/my-page/memberModifyEmailAddress}">이메일 주소 변경</a>
            <a class="button" th:href="@{/user/my-page/memberModifyInfo}">회원정보 변경</a>
            <a class="button" th:href="@{/user/my-page/memberModifyPassword}">비밀번호 변경</a>
            <a class="button" th:href="@{/user/my-page/memberLeave}">회원정보 삭제</a>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>