<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>어미새</title>
    <link th:href="@{/user/my-page/resources/stylesheets/memberInfo.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/myPageHeader.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<th:block th:replace="~{fragments/myPageHeader.html :: content}"></th:block>
<main class="main">
    <section class="user-info">
        <div class="info-container">
            <h1 class="title">회원 정보</h1>
            <dl class="info">
                <dt class="list"><span class="star">*</span>이메일 주소</dt>
                <dd class="personal-info">user01@sample.com</dd>
            </dl>
            <dl class="info">
                <dt class="list">아이디</dt>
                <dd class="personal-info">user01</dd>
            </dl>
            <dl class="info">
                <dt class="list"><span class="star">*</span>닉네임</dt>
                <dd class="personal-info">쪼곰아기새</dd>
            </dl>
            <dl class="info">
                <dt class="list">프로필 사진</dt>
                <dd class="personal-info"></dd>
            </dl>
            <dl class="info">
                <dt class="list">포인트</dt>
                <dd class="personal-info">30p</dd>
            </dl>
            <dl class="info">
                <dt class="list">레벨</dt>
                <dd class="personal-info">Lv.1 (13%) / 17</dd>
            </dl>
            <dl class="info">
                <dt class="list">회원 그룹</dt>
                <dd class="personal-info">신입</dd>
            </dl>
            <dl class="info">
                <dt class="list">가입일</dt>
                <dd class="personal-info">2022-08-01</dd>
            </dl>
            <dl class="info">
                <dt class="list">최근 로그인</dt>
                <dd class="personal-info">2022-08-01</dd>
            </dl>
        </div>
        <div class="button-container">
            <a class="button" th:href="@{/}">이메일 주소 변경</a>
            <a class="button" th:href="@{/}">회원정보 변경</a>
            <a class="button" th:href="@{/}">비밀번호 변경</a>
            <a class="button" th:href="@{/}">탈퇴</a>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>