<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<main id="main" th:with="isSearch = ${criteria != null && keyword != null}">
    <div class="nav-container">
        <div class="nav-menu">
            <ul class="list" th:if="${boardListVo.getId().equals('쇼핑정보')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '커뮤니티')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('fs')} ? 'selected'">
                    <a th:href="@{/bbs/fs}">인기정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('os')} ? 'selected'">
                    <a th:href="@{/bbs/os}">패션정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('rt')} ? 'selected'">
                    <a th:href="@{/bbs/rt}">기타정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('dr')} ? 'selected'">
                    <a th:href="@{/bbs/dr}">래플정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ec')} ? 'selected'">
                    <a th:href="@{/bbs/ec}">이벤트정보</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('구매인증')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('gl')} ? 'selected'">
                    <a th:href="@{/bbs/gl}">패션구매</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ha')} ? 'selected'">
                    <a th:href="@{/bbs/ha}">기타구매</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('실사후기')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('pot')} ? 'selected'">
                    <a th:href="@{/bbs/pot}">패션후기</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('pop')} ? 'selected'">
                    <a th:href="@{/bbs/pop}">기타후기</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('gm')} ? 'selected'">
                    <a th:href="@{/bbs/gm}">소장품자랑</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('데일리룩')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('dl')} ? 'selected'">
                    <a th:href="@{/bbs/dl}">데일리룩</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ds')} ? 'selected'">
                    <a th:href="@{/bbs/ds}">데일리슈</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('플리마켓')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${title.equals('판매')} ? 'selected'">
                    <a th:href="@{/bbs/jo}">판매</a>
                </li>
                <li class="link" th:classappend="${title.equals('구매')} ? 'selected'">
                    <a th:href="@{/bbs/jo2}">구매</a>
                </li>
                <li class="link" th:classappend="${title.equals('교환')} ? 'selected'">
                    <a th:href="@{/bbs/jo3}">교환</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <section class="main-section">
            <div class="empty-container">
                <span></span>
            </div>
            <div class="title-container"
                 th:if="${!boardListVo.getId().equals('실사후기')}">
                <div class="title-section">
                    <h3 class="title">
                        <a th:href="@{'/bbs/' + ${boardListVo.getUrlName()}}">
                            <span th:text="${boardListVo.getName()}"></span>
                        </a>
                    </h3>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('fs')}">
                        패션정보, 기타정보 게시판의 인기글을 모아 볼 수 있는 공간입니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('os')}">
                        패션 쇼핑 정보를 공유하는 공간입니다. [세일 정보 게시판 규정]<br>
                        일정 수 이상의 샀어요를 받은 정보글은 인기정보 게시판으로 이동됩니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('rt')}">
                        패션 외 기타 판매 제품 정보를 공유하는 공간입니다. [세일 정보 게시판 규정]<br>
                        일정 수 이상의 샀어요를 받은 정보글은 인기정보 게시판으로 이동됩니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('dr')}">
                        래플, 드로우 정보를 공유하는 게시판입니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('ec')}">
                        퀴즈 정답, 응모, 쿠폰 정보를 공유하는 공간입니다. [세일 정보 게시판 규정]<br>
                        일정 수 이상의 추천을 받은 정보글은 인기정보 게시판으로 이동됩니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('gl')}">
                        패션 관련 상품 구매를 인증하는 공간입니다.
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('dl')}">
                        데일리룩 게시판 규정
                    </h5>
                    <h5 class="sub-title"
                        th:if="${boardListVo.getUrlName().contains('ds')}">
                        데일리슈 게시판 규정
                    </h5>
                    <h5 class="sub-title"
                        th:if="${title.equals('판매')}">
                        동일 제품 중복 등록할 수 없습니다 끌어올리기 기능 사용해주세요.<br>
                        판매글 작성 40P, 끌어올리기 20P 차감 (끌올 기능 안내)
                    </h5>
                </div>
            </div>
            <div class="menu-container">
                <div class="menu-section">
                    <div class="left">
                        <div class="category">
                            <a class="link" rel="link"
                               th:classappend="${#request.getParameter('category')}">
                                분류
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="category-list">
                                <li class="list">
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (category=0)}">
                                        전체
                                    </a>
                                </li>
                                <li class="list"
                                    th:if="${!isSearch && !boardListVo.getUrlName().contains('al')}">
                                    <!--                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (category=${category.getIndex()} ,criteria = ${criteria}, keyword = ${keyword})}"-->
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, category=${category.getIndex()})}"
                                       th:each="category : ${categoryEntities}"
                                       th:text="${category.getName()}"
                                       th:if="${boardListVo.getIndex() == category.getBoardIndex()}">
                                        잡담
                                        <span>(158819)</span>
                                    </a>
                                </li>
                                <li class="list"
                                    th:if="${isSearch && !boardListVo.getUrlName().contains('al')}">
                                    <!--                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (category=${category.getIndex()} ,criteria = ${criteria}, keyword = ${keyword})}"-->
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, category=${category.getIndex()})}"
                                       th:each="category : ${categoryEntities}"
                                       th:text="${category.getName()}"
                                       th:if="${boardListVo.getIndex() == category.getBoardIndex()}">
                                        잡담
                                        <span>(158819)</span>
                                    </a>
                                </li>
                                <li class="list"
                                    th:if="${!isSearch && boardListVo.getUrlName().contains('al')}">
                                    <!--                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (category=${category.getIndex()} ,criteria = ${criteria}, keyword = ${keyword})}"-->
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, category=${category.getIndex()})}"
                                       th:each="category : ${categoryEntities}"
                                       th:text="${category.getName()}">
                                        잡담
                                        <span>(158819)</span>
                                    </a>
                                </li>
                                <li class="list"
                                    th:if="${isSearch && boardListVo.getUrlName().contains('al')}">
                                    <!--                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (category=${category.getIndex()} ,criteria = ${criteria}, keyword = ${keyword})}"-->
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, category=${category.getIndex()})}"
                                       th:each="category : ${categoryEntities}"
                                       th:text="${category.getName()}">
                                        잡담
                                        <span>(158819)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="align">
                            <a class="link">
                                정렬
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="align-list">
                                <li class="list">
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, alignment=${1})}">
                                        최신순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, alignment=${2})}">
                                        조회순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, alignment=${3})}">
                                        추천순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{${boardListVo.getUrlName()} (criteria = ${criteria}, keyword = ${keyword}, alignment=${4})}">
                                        댓글순
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="function">
                            <a class="link write" th:href="@{'/bbs/' + ${boardListVo.getUrlName() + '/add'}}" th:classappend="${#request.getAttribute('user') != null && #request.getAttribute('user').getLevel() > boardListVo.getWriteLevel()} ? 'on'">
                                쓰기
                            </a>
                            <a class="link search">
                                검색
                            </a>
                            <a class="link" th:href="@{/static}">
                                목록
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <form class="search-form" method="get">
                    <select class="criteria" name="criteria">
                        <span hidden>검색 기준</span>
                        <option value="title-content" th:selected="${criteria == null || !criteria.equals('title-content')}">제목+내용</option>
                        <option value="title" th:selected="${criteria != null && criteria.equals('title')}">제목</option>
                        <option value="content" th:selected="${criteria != null && criteria.equals('content')}">내용</option>
                        <option value="comment" th:selected="${criteria != null && criteria.equals('comment')}">댓글</option>
                        <option value="nickname" th:selected="${criteria != null && criteria.equals('nickname')}">닉네임</option>
                        <option value="tag" th:selected="${criteria != null && criteria.equals('tag')}">태그</option>
                        <option value="link" th:selected="${criteria != null && criteria.equals('link')}">링크</option>
                    </select>
                    <label>
                        <span hidden class="hint">검색어</span>
                        <input class="keyword" type="text" th:value="${keyword}" name="keyword" placeholder="검색어를 입력하세요.">
                        <input hidden th:value="${category}" name="category">
                        <input hidden type="submit">
                    </label>
                </form>
            </div>
            <div class="article-container">
                <div class="article-section">
                    <table>
                        <tbody>
                        <th:block th:replace="~{bbs/fragments/board-no.html :: board-no}"></th:block>
                        <tr th:if="${boardListVo.getArticles().size() == 0}"> <!-- 조건하에 표시되는 요소 -->
                            <td colspan="6" style="padding: 20px 0; text-align: center;">표시할 게시글이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="image-article-container">
                <div class="image-article-section">
                    <div class="image-articles">
                        <div class="article"
                        th:each="article : ${boardListVo.getArticles()}">
                            <div class="image">
                                <a th:href="@{'/bbs/' + ${article.getBoardUrlName()} + '/'+ ${article.getIndex()}}">
                                    <img class="tmb"
                                         th:src="@{/resources/images/profile.png}"
                                         alt="">
                                </a>
                            </div>
                            <div class="content">
                                <div class="article-category">
                                    <span th:each="category : ${categoryEntities}"
                                          th:text="${category.getName()}"
                                          th:if="${article.getCategoryIndex() == category.getIndex()}">기타국내</span>
                                    <span th:text="${#dates.format(article.getWrittenAt(), 'yy.MM.dd')}">22.08.15</span>
                                </div>
                                <h3 class="title">
                                    <a th:href="@{'/bbs/' + ${article.getBoardUrlName()} + '/'+ ${article.getIndex()}}" th:text="${article.getTitle()}">
                                        광동 선착순 2종 5,900원
                                    </a>
                                </h3>
                            </div>
                            <div class="info">
                                <img alt="profile" th:src="@{/resources/images/profile.png}">
                                <span>
                                    <div>
                                        <img alt="3" th:src="@{/resources/images/3.gif}">
                                        <span th:text="${article.getUserNickname()}">사용자</span>
                                    </div>
                                </span>
                            </div>
                            <div class="article-info">
                                <span>
                                    <i class="fa-solid fa-heart" ></i>
                                    <span th:text="${article.getLike()}"></span>
                                </span>
                                <span>
                                    <i class="fa-regular fa-comment"></i>
                                    <span th:text="${article.getCommentCount()}"></span>
                                </span>
                                <span>
                                    <i class="fa-regular fa-eye"></i>
                                    <span th:text="${article.getView()}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-container">
                <span></span>
            </div>
            <table>
                <tbody>
                <tr>
                    <td>
                        <div class="page-container">
                            <div class="page-section" th:if="${!isSearch}">
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.requestPage - 1})}"
                                   th:if="${paging.minPage < paging.requestPage}">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.minPage})}"
                                   th:text="${paging.minPage}"
                                   th:if="${paging.requestPage > 7}">
                                </a>
                                <span th:if="${paging.requestPage > 7}">-</span>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${page})}"
                                   th:each="page : ${#numbers.sequence(paging.boundStartPage, paging.requestPage - 1)}"
                                   th:text="${page}"
                                   th:if="${paging.requestPage > paging.boundStartPage}">
                                </a>
                                <a th:text="${paging.requestPage}"
                                   th:classappend="${paging.requestPage} ? 'selected'">
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${page})}"
                                   th:each="page : ${#numbers.sequence(paging.requestPage + 1, paging.boundEndPage - 1)}"
                                   th:text="${page}"
                                   th:if="${paging.requestPage < paging.boundEndPage && paging.boundEndPage > page && page != paging.requestPage }">
                                </a>
                                <span th:if="${paging.requestPage != paging.maxPage}">-</span>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.maxPage})} "
                                   th:text="${paging.maxPage}"
                                   th:if="${paging.requestPage != paging.maxPage}">
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.requestPage + 1})}"
                                   th:if="${paging.maxPage > paging.requestPage}">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="page-section" th:if="${isSearch}">
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.requestPage - 1}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:if="${paging.minPage < paging.requestPage}">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.minPage}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:text="${paging.minPage}"
                                   th:if="${paging.requestPage > 7}">
                                </a>
                                <span th:if="${paging.requestPage > 7}">-</span>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${page}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:each="page : ${#numbers.sequence(paging.boundStartPage, paging.requestPage - 1)}"
                                   th:text="${page}"
                                   th:if="${paging.requestPage > paging.boundStartPage}">
                                </a>
                                <a th:text="${paging.requestPage}"
                                   th:classappend="${paging.requestPage} ? 'selected'">
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${page}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:each="page : ${#numbers.sequence(paging.requestPage + 1, paging.boundEndPage - 1)}"
                                   th:text="${page}"
                                   th:if="${paging.requestPage < paging.boundEndPage && paging.boundEndPage > page && page != paging.requestPage }">
                                </a>
                                <span th:if="${paging.requestPage != paging.maxPage}">-</span>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.maxPage}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:text="${paging.maxPage}"
                                   th:if="${paging.requestPage != paging.maxPage}">
                                </a>
                                <a th:href="@{'./' + ${boardListVo.getUrlName()} (page=${paging.requestPage + 1}, criteria = ${criteria}, keyword = ${keyword}, category=${category})}"
                                   th:if="${paging.maxPage > paging.requestPage}">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <th:block th:replace="~{bbs/fragments/side-section.html :: side-section}"></th:block>
    </div>
</main>
</html>