<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="side-section" th:fragment="side-section">
    <div class="popular-container">
        <div class="popular-section">
            <div class="board-title">
                <h3>오늘의 인기글</h3>
            </div>
            <ul class="content">
                <li class="list">
                    <span>1</span>
                    <a class="link" th:href="@{/}">
                        8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15
                        네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트
                    </a>
                    <span>
                                <a th:href="@{/}">78</a>
                            </span>
                </li>
                <li class="list">
                    <span>2</span>
                    <a class="link" th:href="@{/}">
                        나이키 프리미엄 에션셜 반팔
                    </a>
                    <span>
                                <a th:href="@{/}">43</a>
                            </span>
                </li>
                <li class="list">
                    <span>3</span>
                    <a class="link" th:href="@{/}">
                        독일 COS 부클레 가디건 베이지
                    </a>
                    <span>
                                <a th:href="@{/}">100</a>
                            </span>
                </li>
                <li class="list">
                    <span>4</span>
                    <a class="link" th:href="@{/}">
                        유니클로U 유라리 셔츠 외
                    </a>
                    <span>
                                <a th:href="@{/}">58</a>
                            </span>
                </li>
                <li class="list">
                    <span>5</span>
                    <a class="link" th:href="@{/}">
                        광동 선착순 2종 5,900원 무료배송
                    </a>
                    <span>
                                <a th:href="@{/}">188</a>
                            </span>
                </li>
                <li class="list">
                    <span>6</span>
                    <a class="link" th:href="@{/}">
                        신타6 46000원대
                    </a>
                    <span>
                                <a th:href="@{/}">112</a>
                            </span>
                </li>
                <li class="list">
                    <span>7</span>
                    <a class="link" th:href="@{/}">
                        kith LVC X 클락스 왈라비 12만원
                    </a>
                    <span>
                                <a th:href="@{/}">104</a>
                            </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="side-empty-section">
        <div class="empty-container">
            <span></span>
        </div>
    </div>
</section>
</body>
</html>