<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Document</title>
</head>
<body>
<section class="side-section" th:fragment="side-section">
    <div class="popular-container">
        <div class="popular-section">
            <div class="board-title">
                <h3>오늘의 인기글</h3>
            </div>
            <ul class="content">
                <li class="list" th:each="articleForFavorite : ${boardListVoForFavorite.getArticles()}">
                    <span>1</span>
                    <a class="link"
                       th:href="@{'/bbs/' + ${articleForFavorite.getBoardUrlName()} + '/'+ ${articleForFavorite.getIndex()}}"
                       th:text="${articleForFavorite.getTitle()}">
                        8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트8/15
                        네이버포인트8/15 네이버포인트8/15 네이버포인트8/15 네이버포인트
                    </a>
                    <span>
                                <a th:href="@{/}" th:text="${articleForFavorite.getCommentCount()}">78</a>
                            </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="side-empty-section">
        <div class="empty-container">
            <span></span>
        </div>
    </div>
</section>
</body>
</html>