@charset "UTF-8";

#main {
    width: 78.125rem;
    max-width: 78.125rem;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

#main > .main-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem 1.875rem;
}

#main > .nav-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#main > .nav-container > .nav-menu {
    width: 100%;
}

#main > .nav-container > .nav-menu > .list {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 0.0625rem solid rgb(var(--color-white-dim));
    margin: 0;
    position: relative;
    padding: 0;
    white-space: nowrap;
}

#main > .nav-container > .nav-menu > .list > .link {
    display: inline-block;
    position: relative;
}

#main > .nav-container > .nav-menu > .list > .link > a {
    border-bottom: 0.125rem solid transparent;
    color: rgb(var(--color-black-66));
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 3.625rem;
    margin-right: 0.625rem;
    padding: 0 0.625rem 0 0.625rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 150ms;
}

#main > .nav-container > .nav-menu > .list > .link:hover > a {
    color: rgb(var(--color-black-1));
}

#main > .nav-container > .nav-menu > .list > .link.selected > a {
    color: rgb(var(--color-pink));
    border-bottom: 0.125rem solid rgb(var(--color-pink));
}

/* ------------- board write section ------------- */

#main > .write-form-container {
    padding: 2.5rem 1.875rem;
}

#main > .write-form-container > .form-container {
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(241, 241, 241);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head {
    border-bottom: 0.0625rem solid rgb(241, 241, 241);
}

#main > .write-form-container > .form-container > .form-head {
    font-size: 0;
}

#main > .write-form-container > .form-container > .form-head > .input,
#main > .write-form-container > .form-container > .form-head > .select {
    width: 100%;
    height: 3rem;
    padding: 0 0.875rem;
}

#main > .write-form-container > .form-container > .form-head > input::-ms-input-placeholder {
    color: rgb(var(--color-grey-e0));
}

#main > .write-form-container > .form-container > .form-head > input::-webkit-input-placeholder {
    color: rgb(var(--color-grey-e0));
}

#main > .write-form-container > .form-container > .form-head > input::-moz-placeholder {
    color: rgb(var(--color-grey-e0));
}

#main > .write-form-container > .form-container > .form-head > .option-category {
    width: 6.25rem;
    appearance: auto;
    border-right: 0.0625rem solid rgb(var(--line-color-white));
    color: rgb(var(--color-grey-e1));
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .title-input {
    width: calc(100% - 6.25rem);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .tag-input {
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .product-container {
    width: 100%;
    align-items: center;
    border-bottom: 0.0625rem solid rgb(var(--line-color-white));
    display: flex;
    font-size: 0.75rem;
    flex-direction: row;
}

#main > .write-form-container > .form-container > .product-container > .product-col {
    padding: 0.5rem 0.65rem;
}

#main > .write-form-container > .form-container > .product-container > .product-title {
    width: 15%;
    color: rgb(var(--color-grey-e0));
    font-weight: 500;
}

#main > .write-form-container > .form-container > .product-container > .product-input {
    width: 85%;
    display: flex;
    flex-direction: column;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .input {
    max-width: 18.75rem;
    height: 2rem;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .product-col > .refer-text {
    color: rgb(var(--color-black-66));
    font-weight: 300;
    letter-spacing: -0.03rem;
}

#main > .write-form-container > .form-container > .product-container > .option-container {
    width: 85%;
    display: flex;
    flex-direction: column;
}

#main > .write-form-container > .form-container > .product-container > .textarea-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .textarea-container > .product-textarea {
    width: 17.25rem;
    min-width: 17.25rem;
    max-width: 17.25rem;
    min-height: 1rem;
    height: 9rem;
    background-color: rgb(var(--color-white-fa));
    border: unset;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0.25rem 0;
    padding: 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .textarea-container > .refer-text {
    color: rgb(var(--color-black-66));
    font-weight: 300;
    letter-spacing: -0.03rem;
}

#main > .write-form-container > .form-container > .product-container > .textarea-container > .product-textarea:focus {
    outline: unset;
}

/**/

#main > .write-form-container > .form-container > .product-container > .product-input > .input-row {
    display: flex;
    flex-direction: row;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .input-row > .input {
    width: 18.75rem;
    height: 2rem;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .input-row > .button-input {
    cursor: pointer;
    margin-left: 0.2rem;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .input-row > .button-input:hover {
    filter: brightness(95%);
}

#main > .write-form-container > .form-container > .product-container > .option-input > .price-row {
    display: flex;
    flex-direction: row;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .price-row > .input {
    width: 15.3rem;
    height: 2rem;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .option-input > .price-row > .currency-option {
    width: auto;
    height: 2rem;
    appearance: auto;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0.2rem 0.25rem 0;
    padding: 0 0.75rem;
}

/**/

#main > .write-form-container > .form-container > .product-container > .purchase-verification-container {
    width: 85%;
    padding: 0.5rem 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .purchase-verification-container > .purchase-verification {
    width: 18.75rem;
    height: 2rem;
    appearance: auto;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .option-input > .contact-row {
    display: flex;
    flex-direction: row;
}

#main > .write-form-container > .form-container > .product-container > .product-input > .contact-row > .input {
    width: 18.75rem;
    height: 2rem;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .option-input > .contact-row > .allow-disclosure {
    width: auto;
    height: 2rem;
    appearance: auto;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0.2rem 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .option-container {
    width: 85%;
    padding: 0.5rem 0.75rem;
}

#main > .write-form-container > .form-container > .product-container > .option-container > .select-container {
    width: 18.75rem;
    height: 2rem;
    appearance: auto;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

#main > .write-form-container > .form-container > .text-container {
    background-color: rgb(var(--color-white-fa));
    border: 0.0625rem solid rgb(var(--line-color-white));
    margin: 0.25rem;
    padding: 1.5625rem 2.1875rem;
    line-height: 2.5rem;
}

#main > .write-form-container > .form-container > .text-container > p {
    margin: 0;
    line-height: 2.5rem;
}

#main > .write-form-container > .form-container > .text-container > p > a {
    color: revert;
}

#main > .write-form-container > .form-container > .product-container > .option-container > .level-option {
    max-width: 18.75rem;
    height: 2rem;
    appearance: auto;
    background-color: rgb(var(--color-white-fa));
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}


#main > .write-form-container > .file-upload-container {
    background-color: rgb(var(--color-white-fa));
    border-left: 0.0625rem solid rgb(var(--line-color-white));
    border-right: 0.0625rem solid rgb(var(--line-color-white));
    font-size: 0.75rem;
    padding: 0.75rem;
}

#main > .write-form-container > .file-upload-container > .image-upload-hidden {
    display: none;
}

#main > .write-form-container > .file-upload-container > .image-upload {
    background: linear-gradient(to bottom, rgb(var(--color-white)) 5%, rgb(232, 232, 232) 100%);
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(var(--color-gray-e4));
    border-radius: 0.1rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(var(--color-white));
    color: rgb(var(--color-black-60));
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    text-shadow: 0 0.0625rem 0 rgb(var(--color-white));
    padding: 0.185rem 0.75rem;
}

#main > .write-form-container > .file-upload-container > .image-upload > i {
    color: rgb(var(--color-black-60));
    font-size: 0.85rem;
    margin-right: 0.2rem;
}

#main > .write-form-container > .file-upload-container > .file-size-limit {
    margin-left: 0.5rem;
}

#main > .write-form-container > .image-function {
    align-items: flex-start;
    /*display: flex;*/
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#main > .write-form-container > .image-function > .result {
    background: transparent;
    font-weight: normal;
    font-size: 0.75rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
    overflow-x: hidden;
}

#main > .write-form-container > .image-function > .input {
    margin-right: 0.875rem;
}

#main > .write-form-container > .image-function > .input > input {
    background: linear-gradient(to bottom, rgb(var(--color-white)) 5%, rgb(232, 232, 232) 100%);
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(var(--color-gray-e4));
    border-radius: 0.1rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(var(--color-white));
    color: rgb(var(--color-black-60));
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.185rem 0.75rem;
    text-shadow: 0 0.0625rem 0 rgb(var(--color-white));
}

#main > .write-form-container > .image-components {
    display: none;
    padding: 0 0.625rem;
}

#main > .write-form-container > .image-components.visible {
    display: block;
}

#main > .write-form-container > .image-components > .title-image-text {
    width: 100%;
    padding: 0.625rem 0.75rem 0.5rem;
    box-sizing: border-box;
    background: rgb(108, 189, 126);
    color: rgb(var(--color-white));
    font-size: 0.75rem;
    left: -0.125rem;
    margin-bottom: 0.3125rem;
    position: relative;
}

#main > .write-form-container > .image-components > .title-image-text > h2 {
    font-size: 0.9125rem;
    font-weight: 700;
}

#main > .write-form-container > .image-components > .list-images {
    border-bottom: 0;
    border-bottom: 0.0625rem solid rgb(var(--color-gray-e5));
    max-height: 10rem;
    margin: 0 -0.3125rem;
    overflow-y: auto;
    padding: 0.3125rem 0;
}

#main > .write-form-container > .image-components > .list-images > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main > .write-form-container > .image-components > .list-images > ul > li {
    width: 6.25rem;
    height: 6.25rem;
    border: 0.1875rem solid rgb(var(--color-gray-e4));
    display: inline-block;
    margin: 0.1875rem;
    position: relative;
}

#main > .write-form-container > .image-components > .list-images > ul > li > strong {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main > .write-form-container > .image-components > .list-images > ul > li > .file-info > .file-size {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main > .write-form-container > .image-components > .list-images > ul > li > .file-info > span > img {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
}

#main > .write-form-container > .image-components > .list-images > ul > li > .file-info > .checkbox > input {
    top: 0;
    left: 0;
    appearance: auto;
    box-sizing: border-box;
    list-style-type: none;
    position: absolute;
    padding: 0;
}

#main > .write-form-container > .image-components > .list-images > ul > li > .file-info > .button {
    top: 50%;
    left: 50%;
    border-radius: 100%;
    font-size: 2rem;
    padding: 0.0625rem;
    position: absolute;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#main > .write-form-container > .image-components > .list-images > ul > li:hover > .file-info > .button {
    top: 50%;
    left: 50%;
    font-size: 2rem;
    border-radius: 100%;
    padding: 0.0625rem;
    position: absolute;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#main > .write-form-container > .image-components > .list-images > ul > li > .file-info > .button:checked {
    top: 0;
    left: auto;
    right: 0;
    background-color: rgb(108, 189, 126);
    border-radius: 0 0 0 0.3125rem;
    border: 0 none;
    cursor: pointer;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    margin: 0;
    position: absolute;
    padding: 0.0625rem 0 0.0625rem 0.125rem;
}

#main > .write-form-container > .form-bottom {
    align-items: center;
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(var(--line-color-white));
    color: rgb(var(--color-red-fa));
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    flex-direction: row;
}

#main > .write-form-container > .form-bottom > .button-container {
    width: calc(100% - 7.5rem);
}

#main > .write-form-container > .form-bottom > .button-container > .button-input {
    cursor: pointer;
    padding: 0 0.85rem;
}

#main > .write-form-container > .form-bottom > .button-container > .button-input:hover {
    color: rgb(var(--color-black-44));
}

#main > .write-form-container > .form-bottom > .submit-button {
    width: 7.5rem;
    border-left: 0.0625rem solid rgb(var(--line-color-white));
    cursor: pointer;
    padding: 1rem 0;
}

@media screen and (max-width: 760px) {
    #main > .write-form-container > .form-container > .product-container.date-container > .product-input > .input-row {
        flex-direction: column;
    }

    #main > .write-form-container > .form-container > .product-container > .product-title {
        width: 5rem;
    }

    #main > .write-form-container > .form-container > .product-container > .product-input > .input-row > .input {
        width: 12rem;
    }

    #main > .write-form-container > .form-container > .product-container > .product-input > .input-row > .button-input {
        margin: unset;
    }

    #main > .write-form-container > .form-bottom > .button-container {
        width: calc(100% - 5rem);
        border-right: 0.0625rem solid rgb(var(--line-color-white));
    }

    #main > .write-form-container > .form-bottom > .button-container > .button-input {
        padding: 1rem 0.85rem;
    }

    #main > .write-form-container > .form-bottom > .submit-button {
        width: 5rem;
        border: unset;
    }

    #main > .write-form-container > .form-container > .product-container > .textarea-container > .product-textarea {
        width: unset;
        min-width: 10.375rem;
    }

    #main > .write-form-container > .form-container > .product-container > .option-input > .price-row {
        width: 100%;
    }

    #main > .write-form-container > .form-container > .product-container > .product-input > .price-row > .input {
        width: 8.5rem;
    }

    #main > .write-form-container > .form-container > .product-container > .option-input > .contact-row,
    #main > .write-form-container > .form-container > .product-container > .option-input > .price-row {
        flex-direction: column;
    }

    #main > .write-form-container > .form-container > .product-container > .product-input > .contact-row > .input {
        width: 11.8rem;
    }

    #main > .write-form-container > .form-container > .product-container > .option-container > .select-container {
        width: unset;
    }

}