@charset "UTF-8";

p {
    color: rgb(0, 0, 0);
    font-size: 0.8175rem;
    line-height: 0.8175rem;
}

#main {
    height: auto;
}

#main > .nav-container {
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main > .nav-container > .nav-menu {
    width: 100%;
}

#main > .nav-container > .nav-menu > .list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e8eaeb;
    width: 100%;
}

#main > .nav-container > .nav-menu > .list > .link {
    display: inline-block;
    position: relative;
}

#main > .nav-container > .nav-menu > .list > .link > a {
    display: inline-block;
    color: #666666;
    font-size: 0.874rem;
    font-weight: 500;
    line-height: 58px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 150ms;
}

#main > .nav-container > .nav-menu > .list > .link:active > a {
    color: #e87a72;
    border-bottom: 2px solid #e87a72;
}

#main > .nav-container > .nav-menu > .list > .link:hover > a {
    color: #25282b;
}

/* ------------- board write section ------------- */

#main > .write-form-container {
    padding: 2.5rem 1.875rem;
}

#main > .write-form-container > .form-container {
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(241, 241, 241);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head {
    border-bottom: 0.0625rem solid rgb(241, 241, 241);
}

#main > .write-form-container > .form-container > .form-head {
    font-size: 0;
}

#main > .write-form-container > .form-container > .form-head > .input,
#main > .write-form-container > .form-container > .form-head > .select {
    width: 100%;
    height: 3rem;
    padding: 0 0.875rem;
}

#main > .write-form-container > .form-container > .form-head > input::-ms-input-placeholder {
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > input::-webkit-input-placeholder {
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > input::-moz-placeholder {
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > .option-category {
    width: 6.25rem;
    appearance: auto;
    border-right: 0.0625rem solid rgb(241, 241, 241);
    color: rgb(176, 176, 176);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .title-input {
    width: calc(100% - 6.25rem);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .tag-input {
    font-size: 0.75rem;
}

#main > .write-form-container > .file-upload-container {
    background-color: rgb(247, 247, 247);
    border-left: 0.0625rem solid rgb(241, 241, 241);
    border-right: 0.0625rem solid rgb(241, 241, 241);
    font-size: 0.75rem;
    padding: 0.75rem;
}

#main > .write-form-container > .file-upload-container > .image-upload-hidden {
    display: none;
}

#main > .write-form-container > .file-upload-container > .image-upload {
    background: linear-gradient(to bottom, rgb(var(--color-white)) 5%, rgb(232, 232, 232) 100%);
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(211, 211, 211);
    border-radius: 0.1rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(var(--color-white));
    color: rgb(85, 91, 97);
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    text-shadow: 0 0.0625rem 0 rgb(var(--color-white));
    padding: 0.185rem 0.75rem;
}

#main > .write-form-container > .file-upload-container > .image-upload > i {
    color: rgb(85, 91, 97);
    font-size: 0.85rem;
    margin-right: 0.2rem;
}

#main > .write-form-container > .file-upload-container > .file-size-limit {
    margin-left: 0.5rem;
}

#main > .write-form-container > .form-bottom {
    align-items: center;
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(241, 241, 241);
    color: rgb(255, 51, 49);
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    flex-direction: row;
}

#main > .write-form-container > .form-bottom > .button-container {
    width: calc(100% - 7.5rem);
}

#main > .write-form-container > .form-bottom > .button-container > .button-input {
    cursor: pointer;
    padding: 0 0.85rem;
}

#main > .write-form-container > .form-bottom > .button-container > .button-input:hover {
    color: rgb(var(--color-black-44));
}

#main > .write-form-container > .form-bottom > .submit-button {
    width: 7.5rem;
    border-left: 0.0625rem solid rgb(241, 241, 241);
    cursor: pointer;
    padding: 1rem 0;
}