@charset "UTF-8";

#main {
    overflow: hidden;
    max-width: 1250px;
    width: 1250px;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#main > .main-container {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main > .nav-container {
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .nav-container > .nav-menu {
    width: 100%;
}

#main > .nav-container > .nav-menu > .list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e8eaeb;
    width: 100%;
}

#main > .nav-container > .nav-menu > .list > .link {
    display: inline-block;
    position: relative;
}

#main > .nav-container > .nav-menu > .list > .link > a {
    display: inline-block;
    color: #666666;
    font-size: 0.874rem;
    font-weight: 500;
    line-height: 58px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 150ms;
}

#main > .nav-container > .nav-menu > .list > .link:hover > a {
    color: #25282b;
}

#main > .nav-container > .nav-menu > .list > .link.selected > a {
    color: #e87a72;
    border-bottom: 2px solid #e87a72;
}

/* 관리자일 경우 */

#main > .write-form-container {
    padding: 2.5rem 1.875rem;
}

#main > .write-form-container > .form-container {
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(241, 241, 241);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head {
    border-bottom: 0.0625rem solid rgb(241, 241, 241);
}

#main > .write-form-container > .form-container > .form-head {
    font-size: 0;
}

#main > .write-form-container > .form-container > .form-head > .input,
#main > .write-form-container > .form-container > .form-head > .select {
    width: 100%;
    height: 3rem;
    padding: 0 0.875rem;
}

#main > .write-form-container > .form-container > .form-head > input::-ms-input-placeholder {
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > input::-webkit-input-placeholder {
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > input::-moz-placeholder
{
    color: rgb(145, 145, 145);
}

#main > .write-form-container > .form-container > .form-head > .option-category {
    width: 6.25rem;
    appearance: auto;
    border-right: 0.0625rem solid rgb(241, 241, 241);
    color: rgb(176, 176, 176);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .title-input {
    width: calc(100% - 6.25rem);
    font-size: 0.75rem;
}

#main > .write-form-container > .form-container > .form-head > .tag-input {
    font-size: 0.75rem;
}

#main > .write-form-container > .form-bottom {
    align-items: center;
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(241, 241, 241);
    color: rgb(255, 51, 49);
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    flex-direction: row;
}

#main > .write-form-container > .form-bottom > .button-container {
    width: calc(100% - 7.5rem);
}

#main > .write-form-container > .form-bottom > .button-container > .button-input {
    cursor: pointer;
    padding: 0 0.85rem;
}

#main > .write-form-container > .form-bottom > .button-container > .button-input:hover {
    color: rgb(var(--color-black-44));
}

#main > .write-form-container > .form-bottom > .submit-button {
    width: 7.5rem;
    border-left: 0.0625rem solid rgb(241, 241, 241);
    cursor: pointer;
    padding: 1rem 0;
}

/* 관리자가 아닐 경우 main-container
 display flex || none 으로 if 문 사용해 설정 필요 공간차지 x */

#main > .main-container {
    display: none;
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    position: relative;

}

#main > .main-container > .main-section {
    width: 53.4375rem;
}

#main > .main-container > .main-section > .no-permission-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 0;
}

#main > .main-container > .main-section > .no-permission-container > .icon {
    color: rgb(221, 221, 221);
    font-size: 7.5rem;
    margin-bottom: 3rem;
}

#main > .main-container > .main-section > .no-permission-container > .no-permission-text {
    color: rgb(var(--color-black-66));
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#main > .main-container > .main-section > .no-permission-container > .back-button {
    background-color: unset;
    border: 0.0625rem solid rgb(var(--color-black-66));
    border-radius: 0.2rem;
    color: rgb(255, 51, 49);
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
}

#main > .main-container > .main-section > .no-permission-container > .back-button:hover {
    background-color: rgb(var(--color-black-44));
    color: rgb(var(--color-white));
}