@charset "UTF-8";

#main {
    width: 78.125rem;
    max-width: 78.125rem;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

#main > .main-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem 1.875rem;
}

#main > .nav-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#main > .nav-container > .nav-menu {
    width: 100%;
}

#main > .nav-container > .nav-menu > .list {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 0.0625rem solid rgb(var(--color-white-dim));
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

#main > .nav-container > .nav-menu > .list > .link {
    display: inline-block;
    position: relative;
}

#main > .nav-container > .nav-menu > .list > .link > a {
    border-bottom: 0.125rem solid transparent;
    color: rgb(var(--color-black-66));
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 3.625rem;
    margin-right: 0.625rem;
    padding: 0 0.625rem 0 0.625rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 150ms;
}

#main > .nav-container > .nav-menu > .list > .link:hover > a {
    color: rgb(var(--color-black-1));
}

#main > .nav-container > .nav-menu > .list > .link.selected > a {
    border-bottom: 0.125rem solid rgb(var(--color-pink));
    color: rgb(var(--color-pink));
}

#main > .main-container > .main-section {
    width: 53.4375rem;
}

#main > .main-container > .main-section > .empty-container {
    width: 100%;
    height: 5.625rem;
    border: 0.0625rem solid rgb(var(--color-gray-e4));
    background: rgb(var(--color-white));
    display: inline-block;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    text-align: center;
}

#main > .main-container > .main-section > .menu-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-top: 0.75rem;
}

#main > .main-container > .main-section > .menu-container > .menu-section {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left {
    display: flex;
    flex: 1;
}

#main > .main-container > .main-section > .menu-container > .menu-section > div > div > .link {
    height: 1.875rem;
    background: rgb(var(--color-black-38));
    border: 0.0625rem solid rgb(var(--color-white));
    color: rgb(var(--color-white));
    display: inline-block;
    font-size: 0.6875rem;
    line-height: 1.875rem;
    padding: 0 1rem;
}

#main > .main-container > .main-section > .menu-container > .menu-section > div > div > .link:hover {
    border: 0.0625rem solid rgb(var(--color-white));
    color: rgb(var(--color-red-fa));
    text-decoration: underline;
    transition: all 0.1s;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > div > .link > i {
    color: rgb(var(--color-white));
    font-size: 0.625rem;
    margin-left: 0.25rem;
    vertical-align: 0;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > div > .link {
    cursor: pointer;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > .align > .align-list {
    width: 4.0625rem;
    min-width: 10rem;
    max-height: 40.625rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid rgb(var(--color-gray-e5));
    background-color: rgba(var(--color-white), 0.98);
    display: block;
    opacity: 0;
    overflow-y: auto;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > .align > .align-list.on {
    opacity: 1;
    pointer-events: auto;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > .align > .align-list > .list {
    width: 100%;
    min-height: 2.25rem;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-align: left;
    text-transform: none;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > .align > .align-list > .list > .link {
    color: rgb(var(--color-black-77));
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 2.25rem;
    padding: 0 0.75rem;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .left > .align > .align-list > .list > .link:hover {
    background-color: rgb(var(--color-white-fa));
    color: rgb(var(--color-black-77));
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 2.25rem;
    padding: 0 0.80rem;
    transition: all 50ms;
}

#main > .main-container > .main-section > .menu-container > .menu-section > .right > .function > .link.search {
    cursor: pointer;
}

#main > .main-container > .main-section > .search-container {
    display: none;
}

#main > .main-container > .main-section > .search-container.on {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.875rem;
}

#main > .main-container > .main-section > .search-container > .search-form {
    height: 2.75rem;
    border: 0.0625rem solid rgb(var(--color-white-dim));
    background: rgb(var(--color-white));
    line-height: 2.75rem;
    padding: 0 1rem;

}

#main > .main-container > .main-section > .search-container > .search-form > .criteria {
    appearance: auto;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
}

#main > .main-container > .main-section > .search-container > .search-form > .keyword {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

/* paging*/

#main > .main-container > .main-section > table {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
}

#main > .main-container > .main-section > table > tbody > tr > td > .page-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem auto;
}


#main > .main-container > .main-section > table > tbody > tr > td > .page-container > .page-section > a,
#main > .main-container > .main-section > table > tbody > tr > td > .page-container > .page-section > span {
    min-width: 2.25rem;
    height: 2.25rem;
    color: rgb(var(--color-black-44));
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 2.25rem;
    text-align: center;
    text-decoration: none;
}

#main > .main-container > .main-section > table > tbody > tr > td > .page-container > .page-section > a.selected {
    background: rgb(var(--color-black-44));
    border-radius: 2rem;
    color: rgb(var(--color-white));
}

#main > .main-container > .main-section > table > tbody > tr > td > .page-container > .page-section > a > i {
    font-size: 0.65rem;
}


/*--*/

#main > .main-container > .main-section > .comment-container {
    width: 100%;
}

#main > .main-container > .main-section > .comment-container > .comment {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: rgb(var(--color-white));
    border: 0.0625rem solid rgb(var(--color-white-dim));
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile {
    width: 5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 0.75rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    line-height: 2.5rem;
    margin-right: 0.5rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content {
    width: 100%;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.0625rem solid rgb(var(--line-color-white));
    line-height: 1.875rem;
    padding: 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user {
    width: 100%;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > span:first-child {
    color: rgb(var(--color-blue-dim));
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9375rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > span:first-child:hover {
    color: rgb(var(--color-pink));
    text-decoration: underline;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > .user-info {
    min-width: 5rem;
    box-shadow: 0 0 0.0625rem 0.0625rem rgb(31 45 61 / 15%);
    background: white;
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.625rem 0;
    opacity: 0;
    padding: 0.625rem;
    position: absolute;
    pointer-events: none;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > .user-info.on {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > .user-info.on > .user-menu > .list {
    color: rgb(var(--color-black-1));
    padding: 0.375rem 0.625rem;
    text-align: left;
    transition: all 150ms;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > .user-info.on > .user-menu > .list:first-child {
    border-bottom: 0.0625rem solid rgb(var(--color-grey-e1));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .user-profile > .user > .user-info.on > .user-menu > .list:hover {
    color: rgb(var(--color-pink));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .top > .function > .date {
    color: rgb(var(--color-grey-e1));
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .middle {
    border-bottom: 0.0625rem solid rgb(var(--line-color-white));
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .like {
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    line-height: 3rem;
    padding: 0 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .like > i {
    color: rgb(var(--color-grey-e0));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .like:active > i {
    color: rgb(255, 56, 84);
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .like > span {
    color: rgb(var(--color-grey-e0));
    font-size: 0.8125rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .like > span:hover {
    text-decoration: underline rgb(var(--color-pink));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .comment-form {
    width: 100%;
    display: flex;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .comment-form > label {
    flex: 1;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .comment-form > label > [type=text] {
    width: 100%;
    height: 3rem;
    border: none;
    display: flex;
    flex: 1;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 0 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .comment-form > label > [type=text]::placeholder {
    color: rgb(var(--color-gray-e3));
    font-weight: 400;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .comment-form > button,
#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > button{
    height: 3rem;
    border: unset;
    background-color: unset;
    cursor: pointer;
    color: rgb(var(--color-gray-e3));
    font-size: 1.125rem;
    line-height: 3rem;
    padding: 0 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info {
    min-width: 5rem;
    background: rgb(var(--color-white));
    border-radius: 0.1875rem;
    box-shadow: 0 0 0.0625rem 0.0625rem rgb(31 45 61 / 15%);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.625rem 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    padding: 0.625rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info.visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info.visible > .user-menu > .list {
    color: rgb(var(--color-black-1));
    padding: 0.375rem 0.625rem;
    text-align: left;
    transition: all 150ms;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info.visible > .user-menu > .list > form > .link {
    width: 100%;
    cursor: pointer;
    text-align: left;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info.visible > .user-menu > .list:first-child {
    border-bottom: 0.0625rem solid rgb(var(--color-grey-e1));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .down > .menu-box > .user-info.visible > .user-menu > .list:hover {
    color: rgb(var(--color-pink));
}

#main > .main-container > .main-section > .comment-container > .write-comment {
    background: rgb(var(--color-white));
    border: 0.0625rem solid rgb(var(--color-gray-e5));
    margin-bottom: 1.5rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box {
    width: 100%;
    margin: 0;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > label {
    height: 10rem;
    max-height: 10rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > label > .textarea.content::placeholder {
    color: rgb(var(--color-gray-e4));
    font-size: 1.5rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > label > textarea {
    width: 96%;
    height: 10rem;
    max-height: 10rem;
    min-height: 5rem;
    border: none;
    background: rgb(var(--color-white));
    color: rgb(var(--color-black-60));
    font-size: 0.875rem;
    font-family: "Noto Sans KR", sans-serif;
    outline: none;
    resize: none;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > .tag {
    height: auto;
    min-height: 2.75rem;
    border-top: 0.0625rem solid rgb(var(--line-color-white));
    padding: 0.375rem 0.75rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > .tag > li {
    height: 2rem;
    border: none;
    background: transparent;
    font-size: 0.8125rem;
    line-height: 2rem;
    padding-left: 0.25rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > .tag > li > .lang-tag {
    width: 100%;
    color: rgb(var(--color-grey-e0));
    font-size: 0.75rem;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > .option {
    height: 2.75rem;
    border-top: 0.0625rem solid rgb(var(--line-color-white));
    display: flex;
    justify-content: flex-end;
}

#main > .main-container > .main-section > .comment-container > .write-comment > .write-box > .option > .input {
    height: 1.875rem;
    border-radius: 0.9375rem;
    background: rgb(2, 184, 117);
    cursor: pointer;
    color: rgb(var(--color-white));
    font-size: 0.75rem;
    line-height: 1.875rem;
    margin: 0.4375rem 1rem 0 0;
    padding: 0 1.5rem;
    text-align: center;
}

/* 대댓글 */

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(var(--color-white-fa));
    border-bottom: 0.0625rem solid rgb(var(--color-gray-e5));
    border-collapse: collapse;
    font-weight: bold;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top {
    width: 98%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.15rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user {
    flex: 1;
    padding: 0.375rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > form > .exit {
    cursor: pointer;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > span:first-child {
    color: rgb(var(--color-blue-dim));
    cursor: pointer;
    font-weight: 600;
    font-size: 0.75rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > span:first-child:hover {
    text-decoration: underline;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .divider {
    width: 0.0625rem;
    height: 0.5625rem;
    background: rgb(var(--color-gray-e4));
    display: inline-block;
    margin: 0 0.0625rem 0;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .user-info {
    min-width: 5rem;
    background: rgb(var(--color-white));
    box-shadow: 0 0 0.0625rem 0.0625rem rgb(31 45 61 / 15%);
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.625rem 0;
    opacity: 0;
    position: absolute;
    padding: 0.625rem;
    pointer-events: none;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .user-info.on {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .user-info.on > .user-menu > .list {
    color: rgb(var(--color-black-1));
    padding: 0.375rem 0.625rem;
    text-align: left;
    transition: all 150ms;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .user-info.on > .user-menu > .list:first-child {
    border-bottom: 0.0625rem solid rgb(var(--color-grey-e1));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .user-info.on > .user-menu > .list:hover {
    color: rgb(var(--color-pink));
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .user > .date {
    color: rgb(var(--color-grey-e2));
    font-size: 0.625rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .top > .function {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.375rem 0.8rem 0 0;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .down {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 0.5rem 1rem;
}

#main > .main-container > .main-section > .comment-container > .comment > .user-content > .recomment-box > .recomment > .user-content > .down > .content.delete {
    font-size: 0.8rem;
    font-weight: 600;
}


@media screen and (max-width: 1200px) {
    #main {
        width: calc(100% - 2.5rem);
    }
}

@media screen and (max-width: 880px) {
    #main > .main-container {
        padding: 2.5rem 0 0 0;
    }

    #main > .main-container > .main-section {
        width: 100%;
        position: relative;
    }

    #main > .main-container > .main-section > .article-container > .article-section > table > tbody > tr > .title > a:first-child {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 760px) {
    #main > .main-container {
        padding: 0;
    }

    #main > .nav-container {
        overflow-x: scroll;
        padding: unset;
    }

    ::-webkit-scrollbar {
        height: 2rem; /* 가로축 스크롤바 길이 */
    }

    #main > .main-container {
        width: 100%;
        top: 0;
    }

    body > .footer {
        /* top: 24rem; */
        position: unset;
    }

    #main > .main-container > .main-section > .article-container > .article-section > table {
        table-layout: fixed;
    }

    #main > .main-container > .main-section > .article-container > .article-section > table > tbody > tr > td {
        padding: 0;
    }

    #main > .main-container > .main-section > .article-container > .article-section > table > tbody > tr > .title {
        width: 35%;
    }

}
