<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="articleWriteVo" type="dev.dmchoi.eomisae.vos.bbs.ArticleWriteVo"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title + ' - 어미새'}"></title>
    <link th:href="@{/bbs/resources/stylesheets/add.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script th:if="${#request.getAttribute('user').getIndex() != articleCommentWriteVo.getUserIndex()}">
        alert('작성할 수 있는 권한이 없습니다.');
        window.history.back();
    </script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/boardWrite.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main" id="main">
    <div class="nav-container">
        <div class="nav-menu">
            <ul class="list" th:if="${boardListVo.getId().equals('쇼핑정보')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '커뮤니티')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('fs')} ? 'selected'">
                    <a th:href="@{/bbs/fs}">인기정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('os')} ? 'selected'">
                    <a th:href="@{/bbs/os}">패션정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('rt')} ? 'selected'">
                    <a th:href="@{/bbs/rt}">기타정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('dr')} ? 'selected'">
                    <a th:href="@{/bbs/dr}">래플정보</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ec')} ? 'selected'">
                    <a th:href="@{/bbs/ec}">이벤트정보</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('커뮤니티')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '커뮤니티')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('fe')} ? 'selected'">
                    <a th:href="@{/bbs/fe}">자유게시판</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('fh')} ? 'selected'">
                    <a th:href="@{/bbs/fh}">패션게시판</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('qa')} ? 'selected'">
                    <a th:href="@{/bbs/qa}">직구 Q&A</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('chc')} ? 'selected'">
                    <a th:href="@{/bbs/chc}">코드:대리</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('jp')} ? 'selected'">
                    <a th:href="@{/bbs/jp}">공동구매</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ui')} ? 'selected'">
                    <a th:href="@{/bbs/ui}">가입인사</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('구매인증')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('gl')} ? 'selected'">
                    <a th:href="@{/bbs/gl}">패션구매</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ha')} ? 'selected'">
                    <a th:href="@{/bbs/ha}">기타구매</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('실사후기')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('pot')} ? 'selected'">
                    <a th:href="@{/bbs/pot}">패션후기</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('pop')} ? 'selected'">
                    <a th:href="@{/bbs/pop}">기타후기</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('gm')} ? 'selected'">
                    <a th:href="@{/bbs/gm}">소장품자랑</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('데일리룩')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('dl')} ? 'selected'">
                    <a th:href="@{/bbs/dl}">데일리룩</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ds')} ? 'selected'">
                    <a th:href="@{/bbs/ds}">데일리슈</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('플리마켓')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${title.equals('판매')} ? 'selected'">
                    <a th:href="@{/bbs/jo}">판매</a>
                </li>
                <li class="link" th:classappend="${title.equals('구매')} ? 'selected'">
                    <a th:href="@{/bbs/jo2}">구매</a>
                </li>
                <li class="link" th:classappend="${title.equals('교환')} ? 'selected'">
                    <a th:href="@{/bbs/jo3}">교환</a>
                </li>
            </ul>
            <ul class="list" th:if="${boardListVo.getId().equals('운영관리')}">
                <!--            <ul class="list" th:if="${#strings.equals(boardListVo.getId(), '운영관리')}">-->
                <li class="link" th:classappend="${#request.getRequestURI().contains('no')} ? 'selected'">
                    <a th:href="@{/bbs/no}">공지사항</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('ev')} ? 'selected'">
                    <a th:href="@{/bbs/ev}">이벤트</a>
                </li>
                <li class="link" th:classappend="${#request.getRequestURI().contains('mail')} ? 'selected'">
                    <a th:href="@{/bbs/mail}">건의</a>
                </li>
            </ul>
        </div>
    </div>
    <form class="write-form-container" method="post">
        <textarea class="editor" name="content" id="editor" maxlength="1000"></textarea>
        <div class="file-upload-container" id="fileUpload">
            <div class="image-upload" id="imageUploadButton"><i class="fa-solid fa-file-circle-plus"></i>파일첨부</div>
            <span class="file-size-limit">파일 크기 제한 : 10.00MB (허용 확장자 : *.jpeg;*.jpg;*.png;*.gif;)</span>
        </div>
        <div class="image-function">
            <div class="result">
                <span class="file_count">1</span>
                개 첨부 됨 (
                <span class="attached_size">2.8KB</span>
                /
                <span class="allowed_attach_size">10.00MB</span>
                )
            </div>
            <div class="input">
                <input class="add-editor" type="button" value="본문 삽입">
                <input class="delete-editor" type="button" value="선택 삭제">
            </div>
        </div>
        <div class="form-bottom">
            <div class="button-container">
                <input class="button-input" type="button" value="돌아가기"
                       onclick="if (confirm('정말로 돌아갈까요? 작성하신 정보가 모두 유실됩니다.')) {window.history.back();}">
            </div>
            <input type="hidden" name="boardIndex" th:value="${boardListVo.getIndex()}">
            <input type="hidden" name="articleIndex" th:value="${articleCommentWriteVo.getArticleIndex()}">
            <input class="button-input submit-button" type="submit" value="댓글 작성하기">
        </div>
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>