:root {
    --color-blue: rgb(52, 152, 219);
    --color-black-1: rgb(37, 40, 43);
    --color-black-33: rgb(51, 51, 51);
    --color-black-35: rgb(53, 53, 53);
    --color-black-36: rgb(54, 54, 54);
    --color-black-38: rgb(56, 56, 56);
    --color-black-44: rgb(68, 68, 68);
    --color-black-48: rgb(72, 72, 72);
    --color-black-50: rgb(80, 80, 80);
    --color-black-66: rgb(102, 102, 102);
    --color-black-77: rgb(119, 119, 119);
    --footer-color-white: rgba(255, 255, 255, 0.6);
    --color-gray-e5: rgb(229, 229, 229);
    --color-green: rgb(2, 184, 117);
    --color-orange: rgb(255, 87, 34);
    --color-pink: rgb(232, 122, 114);
    --color-purple: rgb(116, 124, 253);
    --color-red: rgb(255, 26, 26);
    --color-white-fa: rgb(250, 250, 250);
    --color-whitea: rgb(255, 255, 255);
    --bg-color-white-f7 : rgb(247, 247, 247);
}