body > .footer {
    width: 100%;
    align-items: flex-start;
    background-color: rgb(var(--color-black-27));
    display: flex;
    justify-content: center;
}

body > .footer > .footer-container {
    width: 100%;
    max-width: 75.125rem;
    font-size: 0.925rem;
    margin-top: 1rem;
    padding: 1rem;
}

body > .footer > .footer-container > .notice-container {
    border-bottom: 0.0625rem solid  rgba(var(--color-white), 10%);
    padding-bottom: 1rem;
}

body > .footer > .footer-container > .notice-container > a {
    color: rgb(var(--color-white));
    font-weight: 600;
}

body > .footer > .footer-container > .notice-container > span {
    color:  rgba(var(--color-white), 65%);
    font-weight: 400;
    margin-left: 1rem;
}

body > .footer > .footer-container  > .footer-menu-container > .footer-menu {
    align-items: flex-start;
    color: rgba(var(--color-white), 45%);
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5rem 0 2.3rem 0;
}

body > .footer > .footer-container  > .footer-menu-container > .footer-menu > li {
    margin-right: 1.2rem;
}

body > .footer > .footer-container  > .footer-menu-container > .footer-menu > li:hover {
    filter: brightness(60%);
    -webkit-transition: all 0.3s;
}

body > .footer > .footer-container  > .footer-menu-container > span {
    color:  rgba(var(--color-white), 65%);
    font-size: 0.8rem;
    letter-spacing: 0.001rem;
}


@media screen and (max-width: 760px){

    body > .footer > .footer-container {
        width: 100%;
        max-width: 75.125rem;
        font-size: 0.825rem;
        margin-top: 1rem;
        padding: 1rem;
    }
    body > .footer > .footer-container  > .footer-menu-container > .footer-menu {
        align-items: flex-start;
        color: rgba(var(--color-white), 45%);
        display: flex;
        font-size: 0.8rem;
        font-weight: 400;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1.5rem 0 2.3rem 0;
    }
}

