body > .header {
    background-color: rgb(var(--color-black-1));
    width: 100%;
    height: auto;
}

/*body > .header > .header-container {*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/


body > .header > .progress-container {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

body > .header > .progress-container > .progress-bar {
    background: rgb(255, 117, 117);
    width: 0%;
    height: inherit;
    transition: all 0.3s ease;
}

body > .header > .header-container > .top-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header > .header-container > .top-bar > .top-container {
    width: 1250px;
    max-width: 1250px;
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container {
    height: 3.75rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container {
    display: none;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > a .logo {
    display: block;
    width: auto;
    height: 40px;
    margin-left: 2rem;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > a .logo:hover {
    filter: brightness(80%);
    transition: ease-out 500ms;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0.875rem;
    flex-basis: content;
    white-space: nowrap;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item {
    color: rgb(255, 255, 255);
    margin-left: 1.3rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10rem;
    width: 7.8rem;
    height: 2.4rem;
    /*width: 10%;*/
    /*height: 70%;*/
    margin-left: 8.5rem;
    position: relative;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .keyword-input-container {
    position: absolute;
    width: 3.5rem;
    overflow: hidden;
    margin: 0.5rem 1.5rem;
    color: rgb(var(--color-white-fa));
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile {
    display: none;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .search-button {
    appearance: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    padding: unset;
    margin: 0.7rem 6rem;
    position: absolute;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .search-button > .icon {
    color: rgba(255, 255, 255, 0.5);
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within {
    width: 12rem;
    margin-left: 4rem;
    transition-duration: 300ms;
    transition-property: inherit;
    transition-timing-function: ease-in-out;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within > .search-button {
    margin: 0.7rem 10rem;
    transition-duration: 300ms;
    transition-property: inherit;
    transition-timing-function: ease-in-out;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .keyword-input-container > .keyword-input:not(:placeholder-shown) {

}

body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within > .keyword-input-container {
    width: 8rem;
    display: flex;
    flex-wrap: wrap;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .top-login-container {
    display: block;
    cursor: pointer;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .top-login-container > .top-login-button {
    color: white;
    font-weight: 500;
    border-color: rgb(var(--color-pink));
    background-color: rgb(var(--color-pink));
    border-radius: 5rem;
    padding: 0.725rem 1.125rem;
    margin-left: 1.5rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-button {
    font-size: 1rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container {
    pointer-events: none;
    position: absolute;
    width: 250px;
    height: 8rem;
    top: 58px;
    right: 2rem;
    background-color: white;
    opacity: 0;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on {
    pointer-events: auto;
    position: absolute;
    width: 250px;
    height: 8rem;
    top: 58px;
    right: 2rem;
    background-color: white;
    opacity: 1;
    transition: all 0.2s;
    color: black;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on > .box {
    right: 1rem;
    top: -0.3rem;
    position: absolute;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on > .message-title {
    padding: 0.875rem;
    border-bottom: 1px solid #e8eaeb;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on > .message {
    padding: 0.5rem 0.875rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on > .my-message {
    padding: 0.875rem;
    text-align: center;
    color: #868e96;
    background-color: #f9f9fa;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on > .message:hover {
    background-color: #f9f9fa;
    transition: all 150ms;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .user-profile > div img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box {
    pointer-events: none;
    width: 250px;
    position: absolute;
    height: auto;
    top: 58px;
    right: -1rem;
    background-color: white;
    opacity: 0;
    transition: all 0.2s;
    color: black;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box.on {
    pointer-events: auto;
    width: 250px;
    position: absolute;
    height: auto;
    top: 58px;
    right: -1rem;
    background-color: white;
    opacity: 1;
    transition: all 0.2s;
    color: black;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .box {
    top: -0.3rem;
    left: 13.3rem;
    position: absolute;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .list > .link > a {
    display: block;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-info {
    padding: 15px;
    border-bottom: 1px solid #e8eaeb;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-info > h6 {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.4;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-info > span {
    color: #868e96;
    font-size: 0.75rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-level {
    padding: 15px;
    border-bottom: 1px solid #e8eaeb;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-level > .graph {
    width: 100%;
    height: 5px;
    overflow: visible;
    background: #e5e5e5;
    margin: 5px 0;
    border-radius: 2em;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-level > .graph > .graph-percent {
    width: 83%;
    height: 5px;
    background-color: #e87a72;
    border-radius: 2em;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .user-level > div:last-child {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #888;
    font-size: 0.675rem;
}


body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice {
    padding: 15px;
    border-bottom: 1px solid #e8eaeb;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > div:first-child {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > div:first-child > a {
    color: #e87a72;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > div:first-child > a:hover {
    text-decoration: underline;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > .graph {
    width: 100%;
    height: 5px;
    overflow: visible;
    background: #e5e5e5;
    margin: 5px 0;
    border-radius: 2em;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > .graph > .graph-percent {
    width: 63%;
    height: 5px;
    background-color: #e87a72;
    border-radius: 2em;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > .notice > div:last-child {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #888;
    font-size: 0.675rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > ul li:not(:last-child) > a {
    padding: 10px 15px;
    color: #25282b;
    font-size: 0.875rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > ul li:last-child > a {
    padding: 10px 15px;
    color: #25282b;
    font-size: 0.875rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > ul li i {
    font-size: 0.5rem;
    margin-right: 0.675rem;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > ul li:hover:not(:last-child) {
    background-color: #f9f9fa;
    transition: all 150ms;
}

body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box > ul li:last-child {
    text-align: center;
    color: #868e96;
    background-color: #f9f9fa;
}





/* 서브메뉴 hover 시 색상*/
body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item > ul > li:hover {
    color: rgb(var(--color-pink));
}

/* 메뉴 hover 시 서브메뉴 */
body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item > .list {
    display: none;
    position: absolute;
    width: 10%;
    background-color: rgba(37, 40, 43, 0.8);
    font-size: 0.875rem;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item:hover > .list {
    display: block;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item.selected > a {
    color: #e87a72;
    border-bottom: 2px solid #e87a72;
    padding-bottom: 1.125rem;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item > .list > li:first-child {
    margin-top: 2rem;
}

body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item > .list > li {
    margin: 0.625rem 1rem;
}


/* login-form */

body > .header > .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    position: fixed;
}

body > .header > .login-form {
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    flex-grow: 1;
    top: 0;
    left: 0;
    transform: scale(50%);
    transition: all 0.01s;
    z-index: 1001;
}

body > .header > .shadow,
body > .header > .login-form {
    visibility: hidden;

}

body > .header > .shadow.visible,
body > .header > .login-form.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(100%);
    transition: all 0.2s;
}

body > .header > .shadow.visible {
    z-index: 1000;
}

body > .header > .login-form > .login-container {
    display: block;
    position: relative;
    width: 50%;
    max-width: 25rem;
    height: 32rem;
    max-height: 100vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 3px;
    z-index: 100000;
}

body > .header > .login-form > .login-container > .login-header {
    position: relative;
    height: auto;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e8eaeb;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

body > .header > .login-form > .login-container > .login-header > .login-close {
    cursor: pointer;
}

body > .header > .login-form > .login-container > .input-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.8rem;
}

body > .header > .login-form > .login-container > .input-container > .input-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .input:not(:first-child) {
    margin-top: 1rem;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .input > input {
    width: 21rem;
    border-bottom: 1px solid #e8eaeb;
    margin-top: 1.25rem;
    padding-bottom: 0.825rem;
    transition: 0.2s;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .input > input:hover {
    filter: brightness(80%);
}

body > .header > .login-form > .login-container > .input-container > .input-form > .input > .placeholder {
    position: relative;
    top: -2.35rem;
    font-size: 0.875rem;
    color: rgb(100, 100, 100);
    pointer-events: none;
    transform: translateY(-50%);
    transition-duration: 100ms;
    transition-property: top, font-size;
    transition-timing-function: ease-in-out;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .input > input:not(:placeholder-shown) + .placeholder,
body > .header > .login-form > .login-container > .input-container > .input-form > .input > input:focus + .placeholder {
    top: -4rem;
    font-size: 0.8rem;
}


body > .header > .login-form > .login-container > .input-container > .input-form > .input:focus-within > input {
    border-bottom: 1px solid #747cfd;
    transition: all 250ms;
    transform: scaleX(100%);

}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.675rem;
    margin-bottom: 1rem;
    width: 100%;
    color: #868e96;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .autosign-container {
    cursor: pointer;
    font-size: 0.875rem;
    transition: 0.2s;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .autosign-container:hover {
    color: #000000;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .autosign-container .checkbox {
    border: 1px solid #e8eaeb;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.275rem;
    border-radius: 0.275rem;
    cursor: pointer;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .autosign-container .checkbox:checked {
    border-color: #747cfd;
    background-color: #747cfd;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
    transition: 0.2s;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .autosign-container .checkbox:active {
    border: 1px solid #747cfd;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .link {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .sub > .link > a:hover {
    color: #000000;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .login-button {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 500;
    border: none;
    background-color: rgb(var(--color-pink));
    border-radius: 5rem;
    padding: 0.625rem 0;
    cursor: pointer;
    transition: all 200ms;
}

body > .header > .login-form > .login-container > .input-container > .input-form > .login-button:hover {
    box-shadow: 0 3px 4px rgb(0 0 0 / 20%);
    cursor: pointer;
}

body > .header > .login-form > .login-container > .register-container {
    color: #868e96;
    font-size: 0.875rem;
    text-align: center;
    margin-top: -1rem;
}

body > .header > .login-form > .login-container > .register-container > .register {
    color: #e87a72;
    text-decoration: none;
    cursor: pointer;
}

body > .header > .login-form > .login-container > .register-container > .register:hover {
    text-decoration: underline;
}

body > .header > .login-form > .login-container > .empty {
    background: #e8eaeb;
    width: 80%;
    height: 1px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.375rem;
}

body > .header > .login-form > .login-container > .empty > .empty-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    color: #868e96;
    font-size: 0.875rem;
}

body > .header > .login-form > .login-container > .social-container {
    width: 74%;
    color: white;
    border-color: #4aad39;
    background-color: #4aad39;
    padding: 12px 18px;
    text-align: center;
    line-height: 1;
    border-radius: 500px;
    margin-top: 2rem;
    cursor: pointer;
    margin-left: 2rem;
    transition: all 0.2s;
}

body > .header > .login-form > .login-container > .social-container:hover {
    box-shadow: 0 6px 24px -2px rgb(74 173 57 / 50%);
    filter: brightness(80%);
}

body > .header > .login-form > .login-container > .social-container:active {
    filter: brightness(60%);
}

body > .header > .login-form > .login-container > .social-container > .naver img {
    width: 1rem;
    height: 1rem;
}

body > .header > .toggle-menu-container {
    display: none;
}

body > .header > .scroll-arrow > .scroll-button {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    right: 40px;
    bottom: 40px;
    padding: 14px 18px;
    line-height: 1;
    border-radius: 2em;
    z-index: 100;
    font-size: 1.25rem;
    color: white;
    background-color: #747cfd;
    box-shadow: 0 3px 4px rgb(23 25 26 / 10%);
    transition: all 0.2s;
}

body > .header > .scroll-arrow > .scroll-button.on {
    cursor: pointer;
    visibility: visible;
    position: fixed;
    opacity: 1;
    right: 40px;
    bottom: 40px;
    padding: 14px 18px;
    line-height: 1;
    border-radius: 2em;
    z-index: 100;
    font-size: 1.25rem;
    color: white;
    background-color: #747cfd;
    box-shadow: 0 3px 4px rgb(23 25 26 / 10%);
    transition: all 0.2s;
}





@media screen and (max-width: 1250px) {

    body > .header > .header-container > .top-bar {
        width: auto;
        margin-inline: unset;
        height: 100px;
    }

    body > .header > .header-container > .top-bar > .top-container {
        width: auto;
        margin-inline: unset;
        height: 100px;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item.selected > a {
        padding-bottom: 2.4rem;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10rem;
        width: 7.8rem;
        height: 2.4rem;
        /*width: 10%;*/
        /*height: 70%;*/
        margin-left: 3rem;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .keyword-input-container {
        position: relative;
    }


    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .search-button {
        margin: -1.5rem 5.4rem;
        position: absolute;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form > .search-button > .icon {
        color: rgba(255, 255, 255, 0.5);
    }


    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within {
        width: 7.8rem;
        margin-left: 3rem;
        transition-property: none;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within > .search-button {
        margin: -1.5rem 5.4rem;
        transition-property: none;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:focus-within > .keyword-input-container {
        width: 4rem;
        display: flex;
        flex-wrap: wrap;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form:not(:focus-within) > .keyword-input-container {
        overflow: hidden;
        width: 4rem;
        display: flex;
        flex-wrap: wrap;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .top-login-container > .top-login-button {
        white-space: nowrap;
    }

}

@media screen and (max-width: 1110px) {
    body > .header > .header-container > .top-bar {
        align-items: flex-start;
        display: flex;
        justify-content: center;
    }

    body > .header > .header-container > .top-bar > .top-container {
        width: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container {
        top: 85px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on {
        top: 85px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box {
        top: 85px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box.on {
        top: 85px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container > .top-login-button {
        color: white;
        font-weight: 500;
        border-color: rgb(var(--color-pink));
        background-color: rgb(var(--color-pink));
        border-radius: 5rem;
        padding: 0.425rem 1.125rem;
        margin-left: 1.5rem;
        white-space: nowrap;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .top-login-container > .top-login-button {
        padding: 0.325rem 1.125rem;
    }
}

@media screen and (max-width: 1020px) {
    body > .header > .header-container > .top-bar {
        width: auto;
        margin-inline: unset;
        height: 100px;
    }

    body > .header > .header-container > .top-bar > .top-container {
        width: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item.selected > a {
        padding-bottom: 1.125rem;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item > .list {
        width: 15%;
    }
}

@media screen and (max-width: 820px) {
    body > .header > .header-container > .top-bar {
        max-width: 100%;
        width: 100%;
    }

    body > .header > .header-container > .top-bar > .top-container {
        max-width: 100%;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container {
        margin-left: 2rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > a .logo {
        height: 32px;
    }


    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container {
        display: block;
        width: 1rem;
        height: 1rem;
        position: absolute;
        padding: 1rem;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container > .toggle-button {
        width: 1rem;
        cursor: pointer;
        height: 14px;
        position: absolute;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        transition: 0.2s ease;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container:hover > .toggle-button > div:not(:nth-child(2)) {
        width: 1rem;
        transition: 0.2s ease;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container:hover > .toggle-button > .line.two {
        width: 12px;
        transition: 0.2s ease;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container > .toggle-button > .line.one {
        background-color: white;
        position: relative;
        width: 12px;
        height: 2px;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container > .toggle-button > .line.two {
        background-color: white;
        position: relative;
        width: 18px;
        height: 2px;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .toggle-container > .toggle-button > .line.three {
        background-color: white;
        position: relative;
        width: 14px;
        height: 2px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-form,
    body > .header > .header-container > .top-bar > .top-container > .form-container > .search-button {
        display: none;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container {
        margin-right: -2rem;
        right: 3.5rem;
        height: unset;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        padding-right: 4rem;
        color: rgba(255, 255, 255, 0.8);
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form {
        padding-right: 2rem;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container {
        opacity: 0;
        visibility: hidden;
        position: fixed;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on {
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on > .input-container {
        position: relative;
        background: white;
        width: 100%;
        height: 30%;
        z-index: 2;
        box-shadow: 0 3px 5px rgb(23 25 26 / 10%);
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on > .input-container {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 15px;
        color: #25282b;
        font-size: 16px;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on > .input-container > .input {
        display: inline-block;
        position: relative;
        width: 70%;
        padding: 10px 0;
        margin-top: 30px;
        margin-bottom: 140px;
        border: none;
        outline: none;
        border-bottom: 2px solid #17191a;
        color: #17191a;
        font-size: 1.25rem;
        font-weight: 300;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on > .input-container > .input > .keyword-input {
        width: 100%;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .keyword-input-container.on > .input-container > .icon-search-button {
        position: relative;
        outline: none;
        border: none;
        background-color: white;

    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .search-form > .search-button {
        cursor: pointer;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .top-login-container {
        display: none;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .logo-container > .form-container-mobile > .top-login-container {
        display: block;
        cursor: pointer;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container {
        top: 78px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .top-login-container-user > .message-container.on {
        top: 78px;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box {
        display: none;
    }

    body > .header > .header-container > .top-bar > .top-container > .form-container > .login-only > .user-info-container > .menu-box.on {
        display: none;
    }

    /* toggle-menu-container */
    body > .header > .toggle-menu-container {
        display: block;
        z-index: 9998;
        position: fixed;
        top: 0;
        left: -20rem;
        width: 280px;
        height: 100%;
        transition: all 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    body > .header > .toggle-menu-container.on {
        left: 0;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        z-index: 20;
        background: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .my-container {
        position: relative;
        background-color: #747cfd;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 15px;
        color: white;
        cursor: pointer;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .my-container > .profile-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        margin-left: 1rem;
        font-size: 0.95rem;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .my-container > .profile-content > span:nth-child(2) {
        font-size: 0.875rem;
        filter: brightness(80%);
        margin-top: 0.375rem;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .my-container > .icon-box {
        font-weight: 100;

    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .my-container > .content .profile-image img {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .login-only {
        background-color: #6870e4;
        color: white;
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .login-only > a {
        padding: 1.5rem;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .login-only > a > .info {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .login-only > a > .info > span {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.7rem;
        margin-top: 0.375rem;
    }



    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu {
        margin: 0;
        padding: 20px 0;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item {
        position: relative;
        margin: 0;
        transition: all 0.2s;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .text-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .text-box:hover {
        color: #555b61;
        background-color: #f9f9fa;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .text-box > .link,
    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .link {
        padding: 10px 20px;
        border-bottom: 1px solid #f9f9fa;
        color: #25282b;
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.2s;
        display: flex;
        flex: 1;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .text-box > .menu-button > .fa-solid {
        padding: 1rem;
        cursor: pointer;
        background-color: transparent;
        font-size: 1rem;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .text-box > .menu-button.on {
        transform: rotate(180deg);
        transition: all 0.2s;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .list {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: all 0.3s ease-in-out;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .list.on {
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
        transition: all 0.3s ease-in-out;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .list > li > a {
        display: inline-block;
        width: 100%;
        padding: 10px 40px;
        color: #868e96;
        font-size: 0.875rem;
        text-decoration: none;
        transition: all 0.2s;
    }

    body > .header > .toggle-menu-container > .toggle-menu-box > .nav-menu > .item > .list > li > a:hover {
        color: #555b61;
        background-color: #f9f9fa;
    }

    body > .header > .header-container > .top-bar > .top-container > .menu-container > .menu-wrap > .item{
        display: none;
    }

    body > .header > .login-form > .login-container {
        width: 100%;
    }


}