body > .mypage-header {
    align-items: flex-start;
    display: flex;
    font-size: 0.8125rem;
    flex-direction: row;
    justify-content: center;
    margin: 2.5rem 1rem 0 1rem;
}

body > .mypage-header > .header-container {
    width: 100%;
    max-width: 74.375rem;
    border-bottom: 0.0625rem solid rgb(220, 220, 220);
}

body > .mypage-header > .header-container > .header-nav {
    width: 95%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body > .mypage-header > .header-container > .header-nav > .list {
    color: rgb(var(--color-pink));
    cursor: pointer;
    margin-right: 0.2rem;
    padding: 0.5rem 0.75rem;
}

body > .mypage-header > .header-container > .header-nav > .list + .list {
    margin-bottom: -0.0625rem;
}

body > .mypage-header > .header-container > .header-nav > .list:hover {
    background-color: rgb(238, 238, 238);
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-bottom: 0.0625rem solid rgb(220, 220, 220);
}

body > .mypage-header > .header-container > .header-nav > .list.selected {
    background-color: rgb(var(--color-white));
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border: 0.0625rem solid rgb(220, 220, 220);
    border-bottom: unset;
    color: rgb(85, 91, 97);
    cursor: unset;
}


body > .mypage-header > .header-container > .header-nav > .list.selected > .link:visited,
body > .mypage-header > .header-container > .header-nav > .list.selected > .link:focus {
    background-color: rgb(var(--color-white));
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border: 0.0625rem solid rgb(220, 220, 220);
    border-bottom: unset;
    color: rgb(85, 91, 97);
    cursor: unset;
}

body > .mypage-header > .header-container > .header-nav > .list.selected > a {
    cursor: default;
}