<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>가입인사 - 어미새</title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/bbs/resources/stylesheets/ui.css}" rel="stylesheet">
    <link th:href="@{/bbs/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/bbs/resources/scripts/ui.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/detail.js}"></script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main id="main">
    <div class="nav-container">
        <div class="nav-menu">
            <ul class="list">
                <li class="link">
                    <a th:href="@{/bbs/fe}">자유게시판</a>
                </li>
                <li class="link">
                    <a th:href="@{/bbs/fh}">패션게시판</a>
                </li>
                <li class="link">
                    <a th:href="@{/bbs/qa}">직구 Q&A</a>
                </li>
                <li class="link">
                    <a th:href="@{/bbs/chc}">코드:대리</a>
                </li>
                <li class="link">
                    <a th:href="@{/bbs/jp}">공동구매</a>
                </li>
                <li class="link" th:classappend="selected">
                    <a th:href="@{/bbs/ui}">가입인사</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container" id="mainContainer">
        <section class="main-section">
            <div class="empty-container">
                <span></span>
            </div>
            <div class="menu-container">
                <div class="menu-section">
                    <div class="left">
                        <div class="align">
                            <a class="link">
                                정렬
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="align-list">
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        최신순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        조회순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        추천순
                                    </a>
                                </li>
                                <li class="list">
                                    <a class="link" th:href="@{/}">
                                        댓글순
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="function">
                            <a class="link" th:href="@{/bbs/ui/boardWrite}">
                                쓰기
                            </a>
                            <a class="link search">
                                검색
                            </a>
                            <a class="link" th:href="@{/}">
                                목록
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <form class="search-form" method="get">
                    <select class="criteria" name="criteria">
                        <option value="title-content">제목+내용</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="comment">댓글</option>
                        <option value="nickname">닉네임</option>
                        <option value="tag">태그</option>
                        <option value="link">링크</option>
                    </select>
                    <input class="keyword" type="text" name="keyword" placeholder="검색어를 입력하세요.">
                </form>
            </div>
            <div class="comment-container">
                <form class="write-comment" method="post">
                    <div class="write-box">
                            <input class="textarea" name="comment" type="text" placeholder="Write Here...">
                        <div class="tag">

                        </div>
                        <div class="option">
                            <input class="input" type="submit" value="댓글 달기">
                        </div>
                    </div>
                </form>
                <div class="comment">
                    <div class="user-content">
                        <div class="top">
                            <div class="user-profile">
                                <img alt="유저프로필" th:src="@{/resources/images/profile.png}">
                            </div>
                            <div class="user">
                                <span>
                                    관리자
                                </span>
                                <div class="user-info">
                                    <ul class="user-menu">
                                        <li class="list">
                                            <a class="link" th:href="@{/}">Lv.14 (91.6%)</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">활동 내역 보기</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">쪽지 보내기</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">회원 차단</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="divider"></div>
                                <span class="date">22.08.19</span>
                            </div>
                            <div class="function">
                                <span class="comment">
                                    <i class="fa-solid fa-comments"></i>
                                    <a th:href="@{/}">
                                        답글
                                    </a>
                                </span>
                                <a class="like" th:href="@{/}">
                                    추천
                                    <span>0</span>
                                </a>
                                <button class="menu" type="button">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="menu-list">
                                    <li class="list">
                                        <a class="link" th:href="@{/}">
                                            답글
                                        </a>
                                    </li>
                                    <li class="list">
                                        <a class="link" th:href="@{/}">
                                            신고
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="down">
                            <div class="content">
                                좋은 정보 감사드립니다. ^^
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="user-profile">
                        <img alt="유저프로필" th:src="@{/resources/images/profile.png}">
                    </div>
                    <div class="user-content">
                        <div class="top">
                            <div class="user">
                                <span>
                                    관리자
                                </span>
                                <div class="user-info">
                                    <ul class="user-menu">
                                        <li class="list">
                                            <a class="link" th:href="@{/}">Lv.14 (91.6%)</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">활동 내역 보기</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">쪽지 보내기</a>
                                        </li>
                                        <li class="list">
                                            <a class="link" th:href="@{/}">회원 차단</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="divider"></div>
                                <span class="date">22.08.19</span>
                            </div>
                            <div class="function">
                                <span class="comment">
                                    <i class="fa-solid fa-comments"></i>
                                    <a th:href="@{/}">
                                        답글
                                    </a>
                                </span>
                                <a class="like" th:href="@{/}">
                                    추천
                                    <span>0</span>
                                </a>
                                <button class="menu" type="button">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="menu-list">
                                    <li class="list">
                                        <a class="link" th:href="@{/}">
                                            답글
                                        </a>
                                    </li>
                                    <li class="list">
                                        <a class="link" th:href="@{/}">
                                            신고
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="down">
                            <div class="content">
                                좋은 정보 감사드립니다. ^^
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-container">
                <span></span>
            </div>
            <div class="page-container">
                <div class="page-section">
                    <a th:href="@{/}">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                    <a th:href="@{/}">1</a>
                    <span>-</span>
                    <th:block th:href="@{/}">
                        <a th:href="@{/}">1</a>
                        <a th:href="@{/}">2</a>
                    </th:block>
                    <span>-</span>
                    <a th:href="@{/}">20</a>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <th:block th:replace="~{bbs/fragments/side-section.html :: side-section}"></th:block>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>