<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>어미새</title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main id="main">
    <div class="main-container">
        <!--main-section-->
        <section class="main-section">
            <div class="top-container">
                <!--세일 정보-->
                <div class="sale-container">
                    <div class="board-info">
                        <div class="sale-box">
                            <h5 class="board-title"><i class="fa-solid fa-cart-shopping"></i>세일정보</h5>
                            <table class="article-content">
                                <tbody>
                                <tr th:each="articleForSale : ${boardListVoForSale.getArticles()}">
                                    <td class="title">
                                        <div class="title-content">
                                            <a th:href="@{/}">
                                                <strong th:each="category : ${categoryEntities}"
                                                      th:text="${category.getName()}"
                                                      th:if="${articleForSale.getCategoryIndex() == category.getIndex()}"></strong>
                                            </a>
                                            <a class="content" th:href="@{'/bbs/' + ${articleForSale.getBoardUrlName()} + '/' + ${articleForSale.getIndex()}}" th:text="${articleForSale.getTitle()}">3레벨 미만 회원은 0시간 57분 이후 열람 가능합니다.</a>
                                        </div>
                                    </td>
                                    <td class="time">
                                        <span class="date" th:text="${#dates.format(articleForSale.getWrittenAt(), 'MM-dd')}">08-08</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--전체글-->
                <div class="all-container">
                    <div class="board-info">
                        <div class="all-box">
                            <h5 class="board-title"><i class="fa-solid fa-cart-shopping"></i>전체글</h5>
                            <table class="article-content">
                                <tbody>
                                <tr th:each="article : ${boardListVo.getArticles()}" th:object="${article}">
                                    <td class="title">
                                        <div class="title-content">
                                            <a th:href="@{/}">
                                                <strong th:each="category : ${categoryEntities}"
                                                        th:text="${category.getName()}"
                                                        th:if="${article.getCategoryIndex() == category.getIndex()}"></strong>
                                            </a>
                                            <a class="content" th:href="@{'/bbs/' + ${article.getBoardUrlName()} + '/'+ ${article.getIndex()}}" th:text="${article.getTitle()}"></a>
                                        </div>
                                    </td>
                                    <td class="time">
                                        <span class="date" th:text="${#dates.format(article.getWrittenAt(), 'MM-dd')}">08-08</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--empty-container-->
            <div class="empty-container">
                <div class="empty-box">
                    <span></span>
                </div>
            </div>
            <div class="middle-container">
            <!--실사 후기-->
            <div class="real-image-container">
                <h5 class="board-title"><i class="fa-solid fa-cart-shopping"></i>실사후기</h5>
                <div class="image-box">
                    <ul class="article-list">
                        <li class="articles" th:each="articleForRealImage : ${boardListVoForRealImage.getArticles()}">
                            <a class="content" th:href="@{'/bbs/' + ${articleForRealImage.getBoardUrlName()} + '/'+ ${articleForRealImage.getIndex()}}">
                                <img class="tmb" th:if="${articleForRealImage.getThumbnailId() != null && articleForRealImage.getThumbnailId() != ''}"
                                     th:src="@{'/bbs/thumbnail-id?thumbnailId=' + ${articleForRealImage.getThumbnailId()}}">
                                <img class="tmb" alt="프로필 이미지"
                                     th:if="${articleForRealImage.getThumbnailId() == null || articleForRealImage.getThumbnailId() == ''}"
                                     th:src="@{/bbs/resources/images/default_image.gif}">
                            </a>
                            <strong class="category" th:each="category : ${categoryEntities}"
                                    th:text="${category.getName()}"
                                    th:if="${articleForRealImage.getCategoryIndex() == category.getIndex()}"></strong>
                            <a href="https://eomisae.co.kr/92475012" class="title" th:text="${articleForRealImage.getTitle()}">에어포스 로우 블랙 후기</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--데일리룩-->
            <div class="daily-image-container">
                <h5 class="board-title"><i class="fa-solid fa-camera"></i>데일리룩</h5>
                <div class="image-box">
                    <ul class="article-list">
                        <li class="articles" th:each="articleForDailyImage : ${boardListVoForDailyImage.getArticles()}">
                            <a class="content" th:href="@{'/bbs/' + ${articleForDailyImage.getBoardUrlName()} + '/'+ ${articleForDailyImage.getIndex()}}">
                                <img class="tmb" th:if="${articleForDailyImage.getThumbnailId() != null && articleForDailyImage.getThumbnailId() != ''}"
                                     th:src="@{'/bbs/thumbnail-id?thumbnailId=' + ${articleForDailyImage.getThumbnailId()}}">
                                <img class="tmb" alt="프로필 이미지"
                                     th:if="${articleForDailyImage.getThumbnailId() == null || articleForDailyImage.getThumbnailId() == ''}"
                                     th:src="@{/bbs/resources/images/default_image.gif}">
                            </a>
                            <strong class="category" th:each="category : ${categoryEntities}"
                                    th:text="${category.getName()}"
                                    th:if="${articleForDailyImage.getCategoryIndex() == category.getIndex()}"></strong>
                            <a href="https://eomisae.co.kr/92475012" class="title" th:text="${articleForDailyImage.getTitle()}">에어포스 로우 블랙 후기</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <!--empty-container-->
            <div class="empty-container">
                <div class="empty-box">
                    <span></span>
                </div>
            </div>
        </section>
        <!--side section -->
        <section class="side-section">
            <!--공지 사항-->
            <div class="notice-container">
                <div class="board-info">
                    <h5 class="board-title">공지사항</h5>
                    <table class="article-content">
                        <tbody>
                        <tr th:each="articleForNo : ${boardListVoForNo.getArticles()}">
                            <td class="title">
                                <div class="title-content">
                                    <a th:href="@{/}">
                                    <strong>공지사항</strong>
                                    </a>
                                    <a class="content" th:href="@{'/bbs/' + ${articleForNo.getBoardUrlName()} + '/'+ ${articleForNo.getIndex()}}" th:text="${articleForNo.getTitle()}">[완료]서버 하드웨어 교체 및 점검 안내 / 22.08.02 (화) 오전
                                        08시~10시</a>
                                </div>
                            </td>
                            <td class="time">
                                <span class="date" th:text="${#dates.format(articleForNo.getWrittenAt(), 'MM-dd')}">08-08</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--이벤트-->
            <div class="event-container">
                <div class="board-info">
                    <h5 class="board-title">이벤트</h5>
                    <table class="article-content">
                        <tbody>
                        <tr th:each="articleForEv : ${boardListVoForEv.getArticles()}">
                            <td class="title">
                                <div class="title-content">
                                    <a th:href="@{/}">
                                        <strong>이벤트</strong>
                                    </a>
                                    <a class="content" th:href="@{'/bbs/' + ${articleForEv.getBoardUrlName()} + '/'+ ${articleForEv.getIndex()}}" th:text="${articleForEv.getTitle()}"></a>
                                </div>
                            </td>
                            <td class="time">
                                <span class="date" th:text="${#dates.format(articleForEv.getWrittenAt(), 'MM-dd')}">08-08</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <div class="title-content">
                                    <a th:href="@{/}">
                                        <strong>이벤트</strong>
                                    </a>
                                    <a class="content event" th:href="@{/}">세일정보 문화상품권 이벤트 당첨자 [06월 09일 ~ 06월
                                        29일]</a>
                                </div>
                            </td>
                            <td class="time">
                                <span class="date">07-16</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <div class="title-content">
                                    <a th:href="@{/}">
                                        <strong>이벤트</strong>
                                    </a>
                                    <a class="content event" th:href="@{/}">세일정보 문화상품권 이벤트 당첨자 [05월 19일 ~ 06월
                                        08일]</a>
                                </div>
                            </td>
                            <td class="time">
                                <span class="date">06-26</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <div class="title-content">
                                    <a th:href="@{/}">
                                        <strong>이벤트</strong>
                                    </a>
                                    <a class="content event" th:href="@{/}">세일정보 문화상품권 이벤트 당첨자 [04월 28일 ~ 05월
                                        18일]</a>
                                </div>
                            </td>
                            <td class="time">
                                <span class="date">06-05</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--side-empty-container-->
            <div class="side-empty-container">
                <div class="empty-box">
                    <span></span>
                </div>
            </div>
        </section>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>