<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userModifyVo" type="dev.dmchoi.eomisae.vos.member.user.UserModifyVo"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>어미새</title>
    <link th:href="@{/user/resources/stylesheets/memberFindAccount.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/myPageHeader.js}"></script>
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script defer th:src="@{/user/resources/scripts/memberFindAccount.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main" id="main">
    <section class="find-account-container by-email-container">
        <h1 class="title">이메일 주소로 계정 찾기</h1>
        <div class="hidden-warning" id="hiddenWarningByEmail"></div>
        <span class="subtitle">아이디/비밀번호는 가입시 등록한 메일 주소로 알려드립니다. 가입할 때 등록한 메일 주소를 입력하고 "ID/PW 찾기" 버튼을 클릭해주세요.</span>
        <form class="find-account-form find-by-email-form" id="findByEmailForm">
            <label class="input-container">
                <span hidden>이메일 주소로 계정 찾기</span>
                <input class="input email-input" id="emailInput" placeholder="이메일 주소" maxlength="50" name="email"
                       type="email">
            </label>
            <label class="input-container">
                <span hidden>신규 메일 주소로 인증 메일 발송</span>
                <input class="send-email-button" value="ID/PW 찾기" type="submit">
            </label>
        </form>
    </section>
    <!-- ------------------------------------------------------------------------------ -->

    <section class="find-account-container by-qna-container">
        <h1 class="title">질문/답변으로 계정 찾기</h1>
        <div class="hidden-warning" id="hiddenWarningByQna"></div>
        <span class="subtitle">회원 정보에 입력한 아이디와 이메일, 질문/답변으로 임시 비밀번호를 발급 받을 수 있습니다.</span>
        <form class="find-account-form find-by-qna-form" id="findByQnaForm" method="post"
              th:action="@{/user/memberFindAccount}">
            <label class="input-container">
                <span hidden>이메일 주소</span>
                <input class="input email-input" placeholder="이메일 주소" maxlength="50" name="email"
                       type="email">
            </label>
            <select name="findAccountIndex" class="password-answer">
                <option selected value="1">다른 이메일 주소는?</option>
                <option value="2">나의 보물 1호는?</option>
                <option value="3">나의 출신 고등학교는?</option>
                <option value="4">나의 출신 고향은?</option>
                <option value="5">나의 이상형은?</option>
                <option value="6">어머니 성함은?</option>
                <option value="7">아버지 성함은?</option>
                <option value="8">가장 좋아하는 색깔은?</option>
                <option value="9">가장 좋아하는 음식은?</option>
            </select>
            <label class="input-container">
                <span hidden>비밀번호 찾기 질문/답변</span>
                <input class="input" placeholder="비밀번호 찾기 답변" maxlength="100" name="findAccountAnswer" type="text">
            </label>
            <label class="input-container">
                <span hidden>임시 비밀번호 발급</span>
                <input class="password-modify-button" value="임시 비밀번호 발급" type="submit">
            </label>
        </form>
    </section>

    <section class="find-account-container by-email-container">
        <h1 class="title">인증메일 재발송</h1>
        <div class="hidden-warning" id="hiddenWarningResendEmail"></div>
        <span class="subtitle">회원가입 인증 메일을 받지 못한 경우 다시 받을 수 있습니다.</span>
        <form class="find-account-form resend-email-form" id="resendEmailForm" method="post">
            <label class="input-container">
                <span hidden>이메일 주소로 계정 찾기</span>
                <input class="input email-input" placeholder="이메일 주소" maxlength="50" name="email"
                       type="email">
            </label>
            <label class="input-container">
                <span hidden>인증메일 재발송</span>
                <input class="send-email-button" value="인증메일 재발송" type="submit">
            </label>
        </form>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>