<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="content">
    <div class="footer-container">
        <div class="notice-container">
            <a th:href="@{/}">공지사항</a>
            <span>[완료]서버 하드웨어 교체 및 점검 안내 / 22.08.02 (화) 오전 08시~10시</span>
        </div>
        <div class="footer-menu-container">
            <ul class="footer-menu">
                <li><a th:href="@{/bbs/no}">공지사항</a></li>
                <li><a th:href="@{/bbs/pr1}">이용약관</a></li>
                <li><a th:href="@{/bbs/pr2}">정보취급방침</a></li>
                <li><a th:href="@{/bbs/yo}">쇼핑몰정보</a></li>
                <li><a th:href="@{/}">pc화면</a></li>
                <li><a th:href="@{/}">moblie화면</a></li>
            </ul>
            <span class="warning">해당 사이트는 개발자 포트폴리오 공부용으로 만들어진 웹 사이트이며 실제 기능이 작동하지 않습니다. <br>
                또한 어미새(eomisae.co.kr) 사이트를 오마주했음을 밝힘과 동시에 그 어떤 저작물의 권리를 주장하지 않습니다.</span>
            <div class="copy">Copyleft 2022. No Rights Reserved.</div>
        </div>
    </div>
</footer>
</body>
</html>