<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="content">
    <div class="footer-container">
        <div class="notice-container">
            <a th:href="@{/}">공지사항</a>
            <span>[완료]서버 하드웨어 교체 및 점검 안내 / 22.08.02 (화) 오전 08시~10시</span>
        </div>
        <div class="footer-menu-container">
            <ul class="footer-menu">
                <li><a th:href="@{/bbs/no}">공지사항</a></li>
                <li><a th:href="@{/bbs/pr1}">이용약관</a></li>
                <li><a th:href="@{/bbs/pr2}">정보취급방침</a></li>
                <li><a th:href="@{/bbs/yo}">쇼핑몰정보</a></li>
                <li><a th:href="@{/}">pc화면</a></li>
                <li><a th:href="@{/}">moblie화면</a></li>
            </ul>
            <span>© 2022 • EOMISAE.CO.KR</span>
        </div>
    </div>
</footer>
</body>
</html>