<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="mypage-header" th:fragment="content">
    <section class="header-container">
        <ul class="header-nav">
            <li class="list selected"><a th:href="@{/}">회원정보 보기</a></li>
            <li class="list"><a th:href="@{/}">스크랩 보기</a></li>
            <li class="list"><a th:href="@{/}">저장함 보기</a></li>
            <li class="list"><a th:href="@{/}">작성 글 보기</a></li>
            <li class="list"><a th:href="@{/}">자동 로그인 관리</a></li>
            <li class="list"><a th:href="@{/}">쪽지함 보기</a></li>
            <li class="list"><a th:href="@{/}">로그인 기록</a></li>
            <li class="list"><a th:href="@{/}">포인트</a></li>
            <li class="list"><a th:href="@{/}">회원차단내역</a></li>
            <li class="list"><a th:href="@{/}">캐시 선물 받은 내역</a></li>
            <li class="list"><a th:href="@{/}">캐시 사용 내역</a></li>
            <li class="list"><a th:href="@{/}">작성 댓글 보기</a></li>
            <li class="list"><a th:href="@{/}">수정요청 내역</a></li>
            <li class="list"><a th:href="@{/}">샀어요</a></li>
            <li class="list"><a th:href="@{/}">SNS 관리</a></li>
        </ul>
    </section>
</header>
</body>
</html>