<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.dmchoi.eomisae.mappers.bbs.IArticleReadMapper">
    <select id="selectArticleByIndex"
            resultType="dev.dmchoi.eomisae.entities.bbs.ArticleEntity">
        SELECT `index`          AS `index`,
               `user_index`     AS `userIndex`,
               `board_index`    AS `boardIndex`,
               `written_at`     AS `writtenAt`,
               `title`          AS `title`,
               `url`            AS `url`,
               `content`        AS `content`,
               `view`           AS `view`,
               `like`           AS `like`,
               `buy`            AS `buy`,
               `category_index` AS `categoryIndex`,
               `blind_status`   AS `blind_status`
        FROM `eomisae_article`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectCommentsForArticleRead"
            resultType="dev.dmchoi.eomisae.dtos.bbs.ArticleReadCommentDto">
        SELECT `comment`.`index`         AS `index`,
               `comment`.`user_index`    AS `userIndex`,
               `comment`.`article_index` AS `articleIndex`,
               `comment`.`written_at`    AS `writtenAt`,
               `comment`.`content`       AS `content`,
               `user`.`nickname`         AS `nickname`
        FROM `eomisae_comment`.`comments` AS `comment`
                 LEFT JOIN `eomisae_member`.`users` AS `user` ON `comment`.`user_index` = `user`.`index`
        WHERE `comment`.`article_index` = ${aid}
        ORDER BY `comment`.`index`
    </select>
</mapper>