<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.dmchoi.eomisae.mappers.bbs.IArticleReadMapper">
    <delete id="deleteArticle"
            parameterType="dev.dmchoi.eomisae.entities.bbs.ArticleEntity">
        DELETE
        FROM `eomisae_article`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <!--    <delete id="deleteArticleComment"-->
    <!--            parameterType="dev.dmchoi.eomisae.entities.bbs.CommentEntity">-->
    <!--        DELETE-->
    <!--        FROM `eomisae_comment`.`comments`-->
    <!--        WHERE `index` = #{index}-->
    <!--        LIMIT 1-->
    <!--    </delete>-->
    <insert id="insertImage"
            parameterType="dev.dmchoi.eomisae.entities.bbs.ImageEntity">
        INSERT INTO `eomisae_article`.`images` (`id`, `created_at`, `file_name`, `file_type`, `data`)
        VALUES (#{id}, #{createdAt}, #{fileName}, #{fileType}, #{data})
    </insert>

    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.dmchoi.eomisae.entities.bbs.ArticleEntity">
        INSERT INTO `eomisae_article`.`articles` (`user_index`, `board_index`, `board_urlName`, `written_at`, `title`,
                                                  `tag`, `url`, `discount_code`, `shipping_info`, `order_date`,
                                                  `shopping_mall`, `contact`, `brand`, `product_name`, `product_size`,
                                                  `my_size`, `exchange_size`, `currency_for_product`, `product_price`,
                                                  `currency_for_purchasing`, `purchase_product_price`,
                                                  `currency_for_sailing`, `sale_product_price`, `outer`, `top`,
                                                  `bottom`, `shoes`, `acc`, `content`, `view`, `like`, `buy`,
                                                  `category_index`, `gender`, `product_status`, `trade_method`,
                                                  `blind_status`)
        VALUES (#{userIndex}, #{boardIndex}, #{boardUrlName}, #{writtenAt}, #{title}, #{tag}, #{url}, #{discountCode},
                #{shippingInfo}, #{orderDate}, #{shoppingMall}, #{contact}, #{brand}, #{productName}, #{productSize},
                #{mySize}, #{exchangeSize}, #{currencyForProduct}, #{productPrice}, #{currencyForPurchasing},
                #{purchaseProductPrice}, #{currencyForSailing}, #{saleProductPrice}, #{outer}, #{top}, #{bottom},
                #{shoes}, #{acc}, #{content}, #{view}, #{like}, #{buy}, #{categoryIndex}, #{gender}, #{productStatus},
                #{tradeMethod}, #{blindStatus})
    </insert>

    <insert id="insertComment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.dmchoi.eomisae.vos.bbs.ArticleCommentWriteVo">
        INSERT INTO `eomisae_comment`.`comments`(`article_index`, `user_index`, `content`, `written_at`, `parent_index`,
                                                 `parent_user_index`, `depth`, `like`, `deleted_flag`)
        VALUES (#{articleIndex}, #{userIndex}, #{content}, #{writtenAt}, #{parentIndex}, #{parentUserIndex}, #{depth},
                #{like},
                #{isDeleted})
    </insert>

    <insert id="insertJoinComment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.dmchoi.eomisae.vos.bbs.JoinCommentWriteVo">
        INSERT INTO `eomisae_comment`.`join_comments`(`user_index`, `board_index`, `content`, `written_at`,
                                                      `parent_index`, `depth`, `like`,
                                                      `deleted_flag`)
        VALUES (#{userIndex}, 9, #{content}, #{writtenAt}, #{parentIndex}, #{depth}, #{like},
                #{isDeleted})
    </insert>

    <select id="selectImage"
            resultType="dev.dmchoi.eomisae.entities.bbs.ImageEntity">
        SELECT `id`         AS `id`,
               `created_at` AS `createdAt`,
               `file_name`  AS `fileName`,
               `file_type`  AS `fileType`,
               `data`       AS `data`
        FROM `eomisae_article`.`images`
        WHERE `id` = #{id}
        LIMIT 1
    </select>
    <select id="selectArticleByIndex"
            resultType="dev.dmchoi.eomisae.entities.bbs.ArticleEntity">
        SELECT `index`                   AS `index`,
               `user_index`              AS `userIndex`,
               `board_index`             AS `boardIndex`,
               `board_urlName`           AS `boardUrlName`,
               `written_at`              AS `writtenAt`,
               `title`                   AS `title`,
               `tag`                     AS `tag`,
               `url`                     AS `url`,
               `discount_code`           AS `discountCode`,
               `shipping_info`           AS `shippingInfo`,
               `order_date`              AS `orderDate`,
               `shopping_mall`           AS `shoppingMall`,
               `contact`                 AS `contact`,
               `brand`                   AS `brand`,
               `product_name`            AS `productName`,
               `product_size`            AS `productSize`,
               `my_size`                 AS `mySize`,
               `exchange_size`           AS `exchangeSize`,
               `currency_for_product`    AS `currencyForProduct`,
               `product_price`           AS `productPrice`,
               `currency_for_purchasing` AS `currencyForPurchasing`,
               `purchase_product_price`  AS `purchaseProductPrice`,
               `currency_for_sailing`    AS `currencyForSailing`,
               `sale_product_price`      AS `saleProductPrice`,
               `outer`                   AS `outer`,
               `top`                     AS `top`,
               `bottom`                  AS `bottom`,
               `shoes`                   AS `shoes`,
               `acc`                     AS `acc`,
               `content`                 AS `content`,
               `view`                    AS `view`,
               `like`                    AS `like`,
               `buy`                     AS `buy`,
               `category_index`          AS `categoryIndex`,
               `gender`                  AS `gender`,
               `product_status`          AS `productStatus`,
               `trade_method`            AS `tradeMethod`,
               `blind_status`            AS `blindStatus`
        FROM `eomisae_article`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectArticleCommentByIndex"
            resultType="dev.dmchoi.eomisae.entities.bbs.CommentEntity">
        SELECT `index`             AS `index`,
               `article_index`     AS `articleIndex`,
               `user_index`        AS `userIndex`,
               `content`           AS `content`,
               `written_at`        AS `writtenAt`,
               `parent_index`      AS `parentIndex`,
               `parent_user_index` AS `parentUserIndex`,
               `depth`             AS `depth`,
               `like`              AS `like`,
               `deleted_flag`      AS `isDeleted`,
               `blind_status`      AS `blindStatus`
        FROM `eomisae_comment`.`comments`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectCommentsForArticleRead"
            resultType="dev.dmchoi.eomisae.dtos.bbs.ArticleReadCommentDto">
        SELECT `comment`.`index`             AS `index`,
               `comment`.`user_index`        AS `userIndex`,
               `comment`.`article_index`     AS `articleIndex`,
               `comment`.`written_at`        AS `writtenAt`,
               `comment`.`content`           AS `content`,
               `comment`.`parent_index`      AS `parentIndex`,
               `comment`.`parent_user_index` AS `parentUserIndex`,
               `comment`.`depth`             AS `depth`,
               `comment`.`like`              AS `like`,
               `comment`.`deleted_flag`      AS `isDeleted`,
               `comment`.`blind_status`      AS `blindStatus`,
               `user`.`nickname`             AS `nickname`
        FROM `eomisae_comment`.`comments` AS `comment`
                 LEFT JOIN `eomisae_member`.`users` AS `user` ON `comment`.`user_index` = `user`.`index`
        WHERE `comment`.`article_index` = ${aid}
        ORDER BY `comment`.`index`
    </select>

    <update id="updateArticle"
            parameterType="dev.dmchoi.eomisae.vos.bbs.ArticleWriteVo">
        UPDATE `eomisae_article`.`articles`
        SET `index`                   = #{index},
            `user_index`              = #{userIndex},
            `board_index`             = #{boardIndex},
            `board_urlName`           = #{boardUrlName},
            `written_at`              = #{writtenAt},
            `title`                   = #{title},
            `tag`                     = #{tag},
            `url`                     = #{url},
            `discount_code`           = #{discountCode},
            `shipping_info`           = #{shippingInfo},
            `order_date`              = #{orderDate},
            `shopping_mall`           = #{shoppingMall},
            `contact`                 = #{contact},
            `brand`                   = #{brand},
            `product_name`            = #{productName},
            `product_size`            = #{productSize},
            `my_size`                 = #{mySize},
            `exchange_size`           = #{exchangeSize},
            `currency_for_product`    = #{currencyForProduct},
            `product_price`           = #{productPrice},
            `currency_for_purchasing` = #{currencyForPurchasing},
            `purchase_product_price`  = #{purchaseProductPrice},
            `currency_for_sailing`    = #{currencyForSailing},
            `sale_product_price`      = #{saleProductPrice},
            `outer`                   = #{outer},
            `top`                     = #{top},
            `bottom`                  = #{bottom},
            `shoes`                   = #{shoes},
            `acc`                     = #{acc},
            `content`                 = #{content},
            `view`                    = #{view},
            `like`                    = #{like},
            `buy`                     = #{buy},
            `category_index`          = #{categoryIndex},
            `gender`                  = #{gender},
            `product_status`          = #{productStatus},
            `trade_method`            = #{tradeMethod},
            `blind_status`            = #{blindStatus}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateArticleComment"
            parameterType="dev.dmchoi.eomisae.entities.bbs.CommentEntity">
        UPDATE `eomisae_comment`.`comments`
        SET `index`             = #{index},
            `article_index`     = #{articleIndex},
            `user_index`        = #{userIndex},
            `content`           = #{content},
            `written_at`        = #{writtenAt},
            `parent_index`      = #{parentIndex},
            `parent_user_index` = #{parentUserIndex},
            `depth`             = #{depth},
            `like`              = #{like},
            `deleted_flag`      = #{isDeleted},
            `blind_status`      = #{blindStatus}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateForDeletingArticleComment"
            parameterType="dev.dmchoi.eomisae.entities.bbs.CommentEntity">
        UPDATE `eomisae_comment`.`comments`
        SET `deleted_flag` = true
        WHERE `index` = #{index}
        LIMIT 1
    </update>
</mapper>