@charset "UTF-8";

body > .main {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .info-deleting-container {
    width: 100%;
    max-width: 74.375rem;
    font-size: 0.8125rem;
    padding: 1rem 1rem 2rem 1rem;
}

body > .main > .info-deleting-container > .warning-container {
    background-color: rgb(242, 222, 222);
    border: 0.0625rem solid rgb(238, 211, 215);
    border-radius: 0.25rem;
    color: rgb(185, 74, 72);
    padding: 0.8125rem;
}

body > .main > .info-deleting-container  > .title {
    font-size: 1.375rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

body > .main > .info-deleting-container > .info-deleting-form  {
    /*align-items: flex-start;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    margin-top: 1.25rem;
}

body > .main > .info-deleting-container > .info-deleting-form > .row-container {
    display: flex;
    flex-direction: row;
}

body > .main > .info-deleting-container > .info-deleting-form > .submit-container > .user-email-input {
    border-radius: 0.2rem;
    cursor: not-allowed;
    background-color: rgb(238, 238, 238);
    margin-bottom: 0.5rem;
}

body > .main > .info-deleting-container > .info-deleting-form > .submit-container > .user-email-input,
body > .main > .info-deleting-container > .info-deleting-form > .row-container > .submit-container > .user-password-input {
    width: 12.875rem;
    border: 0.0625rem solid rgb(204, 204, 204);
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    padding: 0.15rem 0.4rem;
}

body > .main > .info-deleting-container > .info-deleting-form > .row-container > .submit-container > input[type='submit'] {
    font-size: 0.75rem;
}

body > .main > .info-deleting-container > .info-deleting-form > .row-container > .submit-container > .delete-button-input {
    background-color: rgb(87, 87, 87);
    background: linear-gradient(to bottom, rgb(87, 87, 87) 5%, rgb(0, 0, 0) 100%);
    border: solid rgb(0, 0, 0);
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(82, 82, 82);
    color: rgb(var(--color-white));
    cursor: pointer;
    text-shadow: 0 0.0625rem 0 rgb(0, 0, 0);
    padding: 0.15rem 0.7rem;
}

body > .main > .info-deleting-container > .info-deleting-form > .row-container > .submit-container > .delete-button-input:hover {
    background: linear-gradient(to bottom, rgb(38, 38, 38) 1%, rgb(0, 0, 0) 100%);
    color: rgb(var(--color-white));
}

body > .main > .info-deleting-container > .hidden-warning.failure-text > .warning-container {
    width: 100%;
    background-color: rgb(242, 222, 222);
    border: 0.0625rem solid rgb(238, 211, 215);
    border-radius: 0.25rem;
    color: rgb(185, 74, 72);
    margin: 0.8rem 0;
    padding: 0.8rem 0;
}

body > .main > .info-deleting-container > .hidden-warning.failure-text > .warning-container > .warning {
    margin-left: 1rem;
}

body > .main > .info-deleting-container > .email-modify-form {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1.25rem;
}

@media screen and (max-width: 760px) {
    body > .main > .info-deleting-container {
        width: calc(100% - 2rem);
    }
}