@charset "UTF-8";

body > .main {
    width: 100%;
}

body > .main > .modify-profile-form > .modify-profile {
    max-width: 74.375rem;
    font-size: 0.8125rem;
    padding: 1rem;
}

body > .main > .modify-profile-form > .modify-profile > .title {
    font-size: 1.375rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

body > .main > .modify-profile-form > .modify-profile> .hidden-warning {
    display: none;
}

body > .main > .modify-profile-form > .modify-profile> .hidden-warning.success-text {
    display: block;
    background-color: rgb(217, 237, 247);
    border: 0.0625rem solid rgb(188, 232, 241);
    border-radius: 0.25rem;
    color: rgb(58, 135, 173);
    margin-bottom: 0.8rem;
    padding: 1rem 0 1rem 1rem;
}

body > .main > .modify-profile-form > .modify-profile> .hidden-warning.failure-text {
    display: block;
    background-color: rgb(242, 222, 222);
    border: 0.0625rem solid rgb(238, 211, 215);
    border-radius: 0.25rem;
    color: rgb(185, 74, 72);
    margin-bottom: 0.8rem;
    padding: 1rem 0 1rem 1rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container {
    padding-left: 1.25rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container > .input {
    width: 12.875rem;
    border: 0.0625rem solid rgb(204, 204, 204);
    border-radius: 0.2rem;
    padding: 0 0.425rem;
    box-shadow: unset;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container > .input-email {
    background-color: rgb(238, 238, 238);
    cursor: not-allowed;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container > .input.input-profile-image {
    width: 12.875rem;
    border: 0.0625rem solid rgb(204, 204, 204);
    border-radius: 0.2rem;
    padding: 0 0.425rem;
    box-shadow: unset;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container > .input-text {
    display: inline-block;
    margin-left: 0.5rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .image-container > .image {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .control-label {
    width: 10rem;
    text-align: right;
    flex-shrink: 0;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .control-label > .star {
    color: rgb(var(--color-red));
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    padding-left: 1.25rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .image-container {
    display: inherit;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-text {
    margin-left: 1.25rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .input {
    margin-bottom: 0.625rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .input-container > .input-blue:focus {
    border-color: rgb(82, 168, 236);
    box-shadow: 0 0 0.375rem rgb(125, 194, 248);
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .file-upload {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .file-upload > .delete-button {
    width: 1.5rem;
    background-color: rgb(239, 239, 239);
    border-radius: 0.15rem;
    border: 0.0625rem solid rgb(110, 110, 110);
    color: rgb(0,0,0);
    cursor: default;
    text-align: center;
    padding: 0 0.375rem 0.025rem 0.375rem;
    margin: 0 0.3rem 0 0.5rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .file-upload > .delete-button:hover {
    background-color: rgb(224, 224, 224);
    border: 0.0625rem solid rgb(70, 70, 70);
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .permission-container {
    display: flex;
    flex-direction: column;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .permission-container > .radio-container {
    padding-left: 1.25rem;
    margin-bottom: 0.425rem;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .permission-container > .radio-container > .input {
    appearance: auto;
}

body > .main > .modify-profile-form > .modify-profile > .label-container > .permission-container > .radio-container > span {
    margin-left: 0.225rem;
}

body > .main > .modify-profile-form > .modify-profile > .submit-container {
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625rem solid rgb(204, 204, 204);
    margin-bottom: 3rem;
}

body > .main > .modify-profile-form > .modify-profile > .submit-container > .button {
    margin-top: 0.725rem;
}

body > .main > .modify-profile-form > .modify-profile > .submit-container > .button.cancel-button {
    background: linear-gradient(to bottom, rgb(var(--color-white)) 5%, rgb(232, 232, 232) 100%);
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(211, 211, 211);
    border-radius: 0.3rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(var(--color-white));
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 0.0625rem 0 rgb(var(--color-white));
    padding: 0.185rem 0.75rem;
}

body > .main > .modify-profile-form > .modify-profile > .submit-container > .button.cancel-button:hover {
    filter: brightness(95%);
}

body > .main > .modify-profile-form > .modify-profile > .submit-container > .button.register-button {
    background-color: rgb(87, 87, 87);
    background: linear-gradient(to bottom, rgb(87, 87, 87) 5%, rgb(0, 0, 0) 100%);
    border-radius: 0.3rem;
    border: 0.0625rem solid rgb(0, 0, 0);
    box-shadow: inset 0 0.0625rem 0 0 rgb(82, 82, 82);
    color: rgb(var(--color-white));
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 0.0625rem 0 rgb(0, 0, 0);
    padding: 0.185rem 0.75rem;
}

body > .main > .modify-profile-form > .modify-profile > .submit-container > .button.register-button:hover {
    background: linear-gradient(to bottom, rgb(38, 38, 38) 1%, rgb(0, 0, 0) 100%);
    color: rgb(var(--color-white));
}

@media screen and (max-width: 760px) {
    body > .main > .modify-profile-form > .modify-profile > .label-container > .control-label {
        width: 5rem;
    }

    body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .file-upload {
        flex-direction: column;
    }

    body > .main > .modify-profile-form > .modify-profile > .label-container > .profile-upload-container > .input-container > .file-upload > .input-profile-image.on {
        margin: 0.3rem 0.3rem 0 0.5rem;
    }
}