@charset "UTF-8";

body > .main {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .mypage-table {
    width: 100%;
    max-width: 74.375rem;
    padding: 1rem;
}

body > .main > .mypage-table  > .title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

body > .main > .mypage-table > .table-container {
    width: 100%;
    border: 0.0625rem solid rgb(187, 187, 187);
    border-spacing: 0;
    font-size: 0.9375rem;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

body > .main > .mypage-table > .table-container > thead > tr {
    background-color: rgb(243, 243, 243);
}

body > .main > .mypage-table > .table-container tr > td {
    padding: 0.5rem;
}

body > .main > .mypage-table > .table-container tbody {
    font-size: 0.75rem;
}


body > .main > .mypage-table > .table-container tbody > .auto-login-info-tr > td {
    border-top: 0.0625rem solid rgb(187, 187, 187);
}

body > .main > .mypage-table > .table-container tbody > .user-agent-tr {
    color: rgb(153, 153, 153);
    font-size: 0.75rem;
}

body > .main > .mypage-table > .table-container tbody > .auto-login-info-tr > td > label > .delete-auto-login-histories {
    background: linear-gradient(to bottom, rgb(var(--color-white)) 5%, rgb(232, 232, 232) 100%);
    background-color: rgb(var(--color-white));
    border: 0.0625rem solid rgb(187, 187, 187);
    border-radius: 0.3rem;
    box-shadow: inset 0 0.0625rem 0 0 rgb(var(--color-white));
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    text-shadow: 0 0.0625rem 0 rgb(var(--color-white));
    padding: 0.175rem 0.75rem;
}

body > .main > .mypage-table > .table-container tbody > .auto-login-info-tr > td > label > .delete-auto-login-histories:hover {
    filter: brightness(95%);
}

body > .mypage-header > .header-container > .header-nav > .list.auto-login-selected {
    background-color: rgb(var(--color-white));
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border: 0.0625rem solid rgb(220, 220, 220);
    border-bottom: unset;
    color: rgb(85, 91, 97);
    cursor: unset;
}

@media screen and (max-width: 760px) {
    body > .main > .mypage-table > .table-container{
        text-align: left;
    }

}