<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>구매 - 어미새</title>
    <link th:href="@{/bbs/resources/stylesheets/boardWrite-jo.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/index.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/header.js}"></script>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/boardWrite.js}"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script src="https://kit.fontawesome.com/0d51ab0f86.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://eomisae.co.kr/files/attach/xeicon/favicon.ico">
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main" id="main">
    <div class="nav-container">
        <div class="nav-menu">
            <ul class="list">
                <li class="link">
                    <a th:href="@{/bbs/jo}">판매</a>
                </li>
                <li class="link" th:classappend="selected">
                    <a th:href="@{/bbs/jo2}">구매</a>
                </li>
                <li class="link">
                    <a th:href="@{/bbs/jo3}">교환</a>
                </li>
            </ul>
        </div>
    </div>
    <form class="write-form-container">
        <div class="form-container">
            <div class="form-head">
                <select class="select option-category">
                    <option value="">분류</option>
                    <option value="">구매<span>(11853)</span></option>
                    <option value="">완료<span>(11853)</span></option>
                </select>
                <input class="input title-input" placeholder="제목" type="text">
            </div>
            <div class="form-head">
                <input class="input tag-input" placeholder="태그 : 쉼표(,)를 이용하여 복수 등록" type="text">
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 연락처</div>
                <div class="product-col product-input option-input">
                    <div class="contact-row">
                        <select class="allow-disclosure">
                            <option>모두 공개 허용</option>
                            <option>승인한 회원만 공개 허용</option>
                        </select>
                        <input class="input" name="contact" type="tel">
                    </div>
                </div>
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 브랜드</div>
                <div class="product-col product-input">
                    <input class="input" name="brandName" type="text">
                </div>
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 상품명</div>
                <div class="textarea-container">
                    <textarea class="product-textarea"></textarea>
                </div>
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 사이즈</div>
                <div class="textarea-container">
                    <textarea class="product-textarea"></textarea>
                </div>
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 거래 방법</div>
                <div class="option-container">
                    <select class="select-container">
                        <option>선택해주세요</option>
                        <option>택배(운포)</option>
                        <option>직거래</option>
                        <option>택배(운포), 직거래</option>
                    </select>
                </div>
            </div>
            <div class="product-container">
                <div class="product-col product-title">* 구매 가격</div>
                <div class="product-col product-input option-input">
                    <div class="price-row">
                        <select class="currency-option">
                            <option>₩(KRW)</option>
                            <option>$(USD)</option>
                            <option>£(GBP)</option>
                            <option>€(EUR)</option>
                        </select>
                        <input class="input" name="price" type="text" onkeyup="inputNumberFormat(this)">
                    </div>
                </div>
            </div>
        </div>
        <textarea class="editor" name="content" id="editor">
            <br><br>
            <p>&bull; 판매/구매 행위에 관하여 최대한 신중히 하셔야 되시며 반드시 만약의 경우를 대비해주세요.</p>
        </textarea>
        <div class="file-upload-container">
            <label for="imageUpload" class="image-upload"><i class="fa-solid fa-file-circle-plus"></i>파일첨부</label>
            <input id="imageUpload" class="image-upload-hidden" name="image" type="file"
                   accept="image/png, image/jpeg, image/png, image/gif">
            <span class="file-size-limit">파일 크기 제한 : 10.00MB (허용 확장자 : *.jpeg;*.jpg;*.png;*.gif;)</span>
        </div>
        <div class="form-bottom">
            <div class="button-container">
                <input class="button-input" type="button" value="돌아가기">
                <input class="button-input" type="button" value="임시 저장">
                <input class="button-input" type="button" value="불러오기">
                <input class="button-input" type="button" value="미리 보기">
            </div>
            <input class="button-input submit-button" type="button" value="등록">
        </div>
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>